// Animations

// Keyframes

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

@-webkit-keyframes scrollUp {
  0% {width: 50px;}
  50% {width: 10px;}
  100% {width: 50px;}
}

@-webkit-keyframes scrollDown {
  0% {top: -20px;}
  100% {top: 0px;}
}


.appear {
  transition: transform 1.25s cubic-bezier(.165,.84,.44,1),opacity 1.25s cubic-bezier(.165,.84,.44,1);
  transform: translateY(70px) translateZ(0);
  opacity: 0;

  &.visible {
    transform: translateY(0px) translateZ(0);
  }

  &.appear-ltr {
    transform: translateX(-35px) translateZ(0);
    &.visible {
     transform: translateX(0px) translateZ(0);
    }
  }

  &.appear-only {
    transition: transform 1.25s cubic-bezier(.165,.84,.44,1);
    transform: translateY(0px) translateZ(0);
    opacity: 0;
    &.visible {
      opacity: 1;
      @include transition (all 0.3s ease-in-out);
    }
  }

  &.appear-rtl {
    transition: transform 0.6s cubic-bezier(.165,.84,.44,1), margin 700ms ease-in-out !important;
    transform: translateX(170px) translateZ(0) !important;
    transition-delay: 0.5s, 0s !important;
    opacity: 1;
    &.visible {
      opacity: 1;
      transform: translateX(0px) translateZ(0) !important;
    }
  }

  &.appear-arrow {
    transition: opacity 1.25s cubic-bezier(.165,.84,.44,1);
    transform: translateY(0px) translateZ(0);
    opacity: 0;

    &.visible {
      opacity: 1;
      @include transition (all 0.3s ease-in-out);
      transition-delay: 3.5s;
    }
  }

  &.service__image {
    transition: opacity 2s cubic-bezier(.165,.84,.44,1);
    transform: translateY(0) translateZ(0);
  }
}



.visible {
  opacity: 1;
}

// Page Header Animations

.page-header__title {
  &.visible {
    transform: translateZ(0);
    transition-delay: 0s;
  }
}

.page-header__subtitle  {
  transition-delay: 0s;
  &.visible {
    transform: translateZ(0);
  }
}

.home-projects__item {
  &.slick-current {
    transition: transform 0.95s cubic-bezier(.165,.84,.44,1),opacity 0.1s cubic-bezier(.165,.84,.44,1);
    transition-delay: 0.15s;
    &.visible {
      transform: translateZ(0);
    }
  }
}


// Only second slide (id:slick-slide01) will make a movement to the left when havinc class "now" and "next"
	#slick-slide01{
	  &.now.next {
	     margin-left: -1%;
	  }
	}

.icon-dash-line {
  opacity: 0;
  text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
  animation-delay: 0s;
}

.currently {
  transition-delay: 0s;
}

// Logo Animations

body.home {
  header .logo{
    //opacity: 0;
    &.appear {
      transform: translateY(0px) translateZ(0);
      transition-delay: 0.5s;


      &.visible {
        transform: translateZ(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.logo {
  &.appear {
    transform: translateY(0) translateZ(0);
  }
}

// Video Animations

video {
  &.appear {
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }
}

// SVG Reload


// Scroll Buttons

.scroll-btn {
  &.scroll {
    transition: transform 1s cubic-bezier(.165,.84,.44,1), opacity 1.55s cubic-bezier(.165,.84,.44,1);
    transform: translateY(-30px);
    transition-delay: 0.5s;

    &.visible {
      transition-delay: 5s;
      transform: translateY(0px);
    }

    &.scrolled {
      transition-delay: 0.5s;

    }
  }
}

.scroll-up {
  span {
    &:hover {
      &:after, &:before  {
        -webkit-animation-name: scrollUp;
      	-webkit-animation-duration: 1s;
      	-webkit-animation-iteration-count: 1;
      	-webkit-animation-timing-function: ease-in-out;
      	-webkit-animation-direction: alternate;
      }
    }
  }
}
