// Fonts

@font-face {
    font-family: 'cambon_testregular';
    src: url('../fonts/Cambon-Regular.woff2') format('woff2'),
         url('../fonts/Cambon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'toucheregular';
    src: url('../fonts/touche-regular-webfont.woff2') format('woff2'),
         url('../fonts/touche-regular-webfont.woff') format('woff'),
         url('../fonts/touche-regular-webfont.eot') format('eot'),
         url('../fonts/touche-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'touchesemibold';
    src: url('../fonts/touche-semibold-webfont.woff2') format('woff2'),
         url('../fonts/touche-semibold-webfont.woff') format('woff'),
         url('../fonts/touche-semibold-webfont.eot') format('eot'),
         url('../fonts/touche-semibold-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "t2m";
  src:url("../fonts/t2m.eot");
  src:url("../fonts/t2m.eot?#iefix") format("embedded-opentype"),
    url("../fonts/t2m.woff") format("woff"),
    url("../fonts/t2m.ttf") format("truetype"),
    url("../fonts/t2m.svg#t2m") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[data-icon]:before {
  font-family: "t2m" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "t2m" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\61";
}
.icon-arrow-left:before {
  content: "\62";
}
.icon-arrow-right:before {
  content: "\63";
}

html {
  font-size: 15px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-body-regular;
  font-size: 15px;
  line-height: 24px;
  color: $color-text;
}

.menu {
  font-family: $font-body-regular;
  font-size: 15px;
}

.buttons {
  font-family: $font-body-regular;
  font-size: 15px;
  text-transform: uppercase;
}

.header__title {
  font-family: $font-heading;
  font-size: 60px;
  line-height: 66px;
  @include lg {
    font-size: $font-size-header-title-lg;
    line-height: $line-height-header-title-lg;
  }
  @include md {
    font-size: $font-size-header-title-md;
    line-height: $line-height-header-title-md;
  }
  @include sm {
    font-size: $font-size-header-title-sm;
    line-height: $line-height-header-title-sm;
  }
}

.marii__title {
  font-family: $font-heading;
  font-size: 52px;
  line-height: 59px;

  @include lg {

  }
  @include md {

  }
  @include sm {

  }
}

.project__title {
  font-family: $font-heading;
  font-size: 36px;
  line-height: 43px;

  @include lg {
    font-size: $font-size-project-title-lg;
  }
  @include md {
    font-size: $font-size-project-title-md;

  }
  @include sm {
    font-size: $font-size-project-title-sm;
  }
}

h6 {
  margin: 0;
}

.italic {
  font-style: italic;
}
