// Bottom Block

.bottom-block {
  &__wrapper {
    margin-left: 6%;
    padding: 8% 155px;

    @include lg {
      width: 94%;
    }

    @include md {
      width: 94%;
      margin-left: 0;
      padding-left: 35px;
      padding-right: 35px;
    }

    @include sm {
      padding-bottom: 20px;
    }
  }

  &__content {
    background-color: $color-white;
    display: flex;
    position: relative;
    padding: 8% 3% 6% 10%;

    @include md {
      flex-wrap: wrap;

      background-color: transparent;

      padding: 0;
    }

    @include sm-land {
      padding-bottom: 0;
    }



    > img {
      position: absolute;
      max-width: 100%;
      top: -70px;
      left: -70px;
      width: 150px;

      @include xl {
        width: 110px;
        top: -50px;
        left: -53px;
      }

      @include md {
        width: 130px;
      }

      @include sm {
        top: -20px;
        left: 0;
        width: 120px;
      }
    }
  }

  &__text {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @include md {
      width: 100%;
      order: 2;
    }

    @include sm {
      margin-top: 0px;
    }

  }

  &__desc {
    a {
      font-family: $font-body-bold;
      font-weight: $normal;


        display: inline-block;
        line-height: 1rem;
        &:after {
          display: block;
          content: '';
          border-bottom: solid 1px $color-text;
          width: 0;
          @include transition (width 250ms ease-in-out);
        }


      &:hover {

          &:after {
            width: 100%;
          }

      }

    }

    @include sm {
      font-size: 0.95rem;
    }
  }

  &__image {
    position: relative;
    width: 35%;

    @include md {
      width: 100%;

      order: 1;
    }

    img {
      max-width: 280px;
      width: 90%;
      position: absolute;
    }
    object {
      position: absolute;
      width: 85%;
      max-width: 280px;
      left: -6%;
      top: -140px;

      @include sm {
        width: 50%;
        max-width: 280px;
        right: 0;
        left: auto;
        top: -120px;
      }
    }
  }

  &__heading {
    font-family: $font-heading;
    font-size: 52px;
    line-height: 59px;
    font-weight: 400;
    margin-bottom: 10px;

    @include xl {
      font-size: $font-size-bottom-block-xl;
      line-height: $line-height-bottom-block-xl;
    }


    @include md {
      font-size: $font-size-bottom-block-md;
      line-height: $line-height-bottom-block-md;
    }

    @include sm {
      font-size: $font-size-bottom-block-sm;
      line-height: $line-height-bottom-block-sm;
    }

    @include sm-land {
      font-size: 40px;
      line-height: 50px;
    }
  }
}
