// Clients

.clients {
  text-align: center;
  margin: 125px 0;

  @include lg {
    margin: 75px 0;
  }

  @include md {
    margin: 50px 0;
  }

  @include sm {
    margin: 50px 0;
  }

  &__heading {
    font-family: $font-body-regular;
    font-size: 14px;
    font-size: 300;
    text-transform: uppercase;
    letter-spacing: 2px;

    margin-bottom: 50px;

    @include sm {
      font-size: 13px;
      margin-bottom: 20px;
    }

  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 8%;
    padding-right: 8%;

    @include md {
      padding-left: 2%;
      padding-right: 2%;
    }

    @include sm {
      padding-left: 25px;
      padding-right: 25px;
    }



  }

  .client {
    width: 16.666%;
    margin-bottom: 20px;
      @include md {
        width: 25%;
      }
      @include sm {
        width: 33%;
      }
    &__logo {
      width: 70%;
      height: auto;
      @include sm {
        width: 70%;
      height: auto;
      }

    }
  }
}
