
.cookieSettingsText{
	cursor: pointer;
	&:after{width:100%!important;}
}

 .cookie-message {

    position:fixed;
    bottom:-100vh; right:0; transition: bottom 0.3s ease;
    padding: 10px 25px 10px;
    z-index: 99;
    width: auto;
    max-width:100%;

    display: flex;

  	flex: 0 0 100px;
    align-items: center;
    justify-content:space-between;

    // border-top:1px solid #f5dcd8;
    // border-left:1px solid #f5dcd8;

  	gap: 30px;
    flex-wrap: nowrap;
    color: $color-white;
    visibility: hidden;
    opacity:0;
    z-index:-9999;

    &.show{bottom:0px; visibility:visible;opacity: 1; z-index:9999;}

    @include md {
		width: 100%;
	    height:auto;
	    gap:0;
	    flex-wrap: wrap;
	    padding-left: 15px;
	    padding-right: 15px;
    }

    p {
      font-family: $font-body-regular;
      color: $color-white;
      font-size: 12px;
      width: 100%;
      // margin:0px;

      @include md {
        font-size: 12px;
      }

      @include sm {
        width: 100%;
      }
    }

    a {
      color: $color-white;
      text-decoration:underline;
      cursor:pointer;

      width: 15%;

      @include sm {
        width: 100%;
      }

      &:hover {
        text-decoration: underline;
      }

      &.link--cta {
        position: relative;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
      }

    }

    .base{
    	width:500px;

	      @include md {
	        width: 100%;
	      }

    }
    .settings{
    	width:300px;
    	display:none;


    	label{
	    	color: #fff;
		    display:inline-block;
		    font-size: 12px;
		    height:23px;
		    position: relative;

		    span{
		    	position: absolute;
			    top: 50%;
			    transform: translateY(-50%);
			    left:57px;
		    }
    	}


    	.checkbox-container{
    		text-align:left; height:23px;

    		input[type="checkbox"]{

			    appearance: none;
				background-color: transparent;
				margin: 0;
				width: 49px;
				border: none;
				position: relative;

    			&:before {
				    content: "";
				    display: block;
				    width: 100%;
				    height: 23px;
				    border-radius: 11.5px;
				    border: 1px solid #fff;
				}

				&:after {
				    content: "";
				    display: block;
				    border-radius: 50%;
				    width: 17px;
				    height: 17px;
				    border: 1px solid #fff;
				    position: absolute;
				    left: 3px;
				    top: 3px;
				    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
				}

				&:checked{
					&:after {
					    transform: translateX(26px);
					    background-color: #fff;
					}
				}
 			}
		}

    	@include md {
    		padding-bottom:25px;
    	}
    }

    .buttons{
    	width:120px; margin-right:10px; margin:12px 0 ;
    	p{
    		width:100%; display:block; text-align:left; margin:0; line-height:23px;

	    	a{
	    		text-decoration:none;
	    		display:inline-block; font-size:13px; width:auto;

	    		&#saveCookies{display:none;
	    				&:before{position:relative; top:4px;}
		    			span{
		    				vertical-align: bottom;
		    			}

	    		}

	    		span{
	    			display:inline; width:100%;
	    		}

	    		&.cookie-settings{
	    			text-transform:none; width:auto; display:inline-block; margin-bottom:0px; transition: all 0.3s ease;
	    			&:after{content:''; display: block; border-bottom:1px solid #FFF; height:1px; margin:0; width:0px; transition: all 0.3s ease; -webkit-transition: all 0.3s ease;
      					@include md {
      						width:100%;
      					}
	    			}
					 	&:hover{
							&:after{width:100%;}
						}
	    			&:before{display:none;}
	    		}
	    	}
	    }



      @include md {
        width: auto;
        margin:0 auto;

        p{display:inline-block; margin-left:10px; margin-right:10px; width:auto; margin-bottom:0px;
        	&:first-child{margin-left:0px;}
        	&:last-child{margin-right:0px;}
        }
      }

      @include smxs {
      	// width:100%;
        p{
        	margin:0 5px;
        	// &.cookie-settings-container{display:block; margin-left:0px; margin-right:0px; width:100%; text-align:right;
        		// a{text-align:right;}
        	// }
        }
      }
    }

    &.cookie-settings{
    	width:500px; display:block;

    	.settings{
    		width:430px; margin:0 auto; max-width:100%;
    		.checkbox-container{position: relative; margin-bottom: 6px;
    			a.link--cta {position: absolute; font-size: 14px; text-align: center; left:132px; width: auto; top: 50%;
			    transform: translateY(-50%);}
    		}
    	}

    	@include md {
        	width: 100%;
        	.settings{
    			.checkbox-container{margin-bottom: 0; vertical-align: middle;}
        	}
        }

    	@include sm {
        	.settings{
	    		.checkbox-container{
	    			a.link--cta {width:auto;}
	    		}
	    	}
        }



    }


  }
  .cookie-message a {

  }
  .cookie-message p, .cookie-message a {

  }
  .blue {
    border-bottom:1px solid #0E83AE;
    background-color:#0990c3;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0e83ae), color-stop(50%, #0990c3), color-stop(100%, #0e9dd2));
    background: -webkit-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
    background: -moz-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
    background: -o-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
    background: -ms-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
    background: linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  }
  .blue p, .blue a { color:#fff; }


