// Home Testimonials

.home-testimonials {

  &__wrapper {
    display: flex;
    padding-bottom: 30px;
    padding-right: 120px;
    margin:0 auto;
    width: 620px;
    max-width:100%;
    // padding-left: 13%;
    padding-top: 60px;

    background-image: url('/wp-content/themes/t2m/assets/images/backgrounds/balloon.svg');
    background-position: top 65px right -85px;
    background-repeat: no-repeat;
    background-size: 60% 60%;

    margin-bottom:125px;

	@include lg {
		margin-bottom:75px;
	}

    @include md {
      	flex-wrap: wrap;
      	padding-right:90px;
    	// background-size: 60% 60%;
    	background-position: top 65px right -55px;
    	padding-bottom: 20px;
    	background-size: 50% 50%;
		margin-bottom:50px;
    }

    @include sm {
      	padding-right:30px;
      	padding-top:0px;
    	background-size: 100px 100px!important;
    	background-position: top 35px right 45px;
    	padding-bottom: 10px;
    }
    @include xs {
      	padding-right:20px;
    	padding-bottom: 0px;
    	background-size: 90px 90px!important;
    	background-position: top 35px right 45px;
    }
    @include xxs {
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:left;


    @include md {
      width: 100%;
      padding-top: 0;
      padding-left: 35px;
      padding-right: 35px;
      background: none;

      order: 2;

    }
  }

  &__heading {
    font-family: $font-heading;
    font-size: 36px;
    line-height: 43px;

    @include xl {
      br {
        display: none;
      }
    }

    @include md {
      font-size: 30px;
      line-height: 36px;
    }

    @include sm {
      br {
        display: none;
      }
    }
  }

}
