// Home Services

#home-services-wrapper {
  margin-top: -300px;
  @include sm {
    margin-top: -260px;
  }
}

.home-services {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 700px;
  max-width: 90%;
  padding: 0;
  margin: 125px auto;
  //@include push--auto;

  @include xl {
    margin-top: 180px;
  }

  @include md {
    margin-top: 230px;
  }

  @include sm {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 180px;
    margin-bottom: 0;
  }

  @include sm-land {
    width: 100%;
    margin-bottom: 80px;
  }



  &__block {
    width: 50%;

    @include sm {
      width: 100%;
    }

    @include sm-land {
      padding-right: $padding-sm;
    }

  }

  &__list {
    padding-left: 10%;
    list-style-type: none;
    margin-top: 0;

    @include sm {
      padding-left: 35px;
    }
  }

  &__item {
    font-family: $font-heading;
    font-size: 36px;
    line-height: 43px;

    @include md {
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__link {
    display: inline-block;
    span {
      display: inline-block;
    }
    &:after {
      display: block;
      content: '';
      border-bottom: solid 1px $color-text;
      width: 0;
      @include transition (width 250ms ease-in-out);

      @include sm {
        @include transition (width 120ms linear);
      }

    }

    &:hover {
      &:after {
        width: 100%;
        @include sm {
          width: 0;
        }
      }
    }
  }

  &__text {
    font-family: $font-body-regular;
    line-height: 28px;

    @include sm {
      padding-left: 35px;
      padding-right: 8%;
      margin-top: 6%;
    }

    br {
      @include sm {
        display: inline-block;
      }
    }

  }
}
