// Home Team

.home-team {
  &__wrapper {
    display: flex;
    padding-bottom: 150px;

    @include lg {
      flex-wrap: wrap;
    	padding-bottom: 100px;
    }

    @include md {
      flex-wrap: wrap;
    	padding-bottom: 120px;
    }
  }

  &__text {
    width: 47%;
    padding-left: 17%;
    padding-right: 4%;
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url('/wp-content/themes/t2m/assets/images/backgrounds/home-team-left.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 95% 50%;

    h4{
      font-family: $font-heading;
      font-size: 36px;
      line-height: 43px;
      font-weight: 400;

      margin: 0 0 10px 0;

      @include rwd-max(1200){
        // font-size: 40px;
        // line-height: 46px;

      }

      @include md {
        font-size: $font-size-bottom-block-md;
        line-height: $line-height-bottom-block-md;
      }

      @include sm {
        font-size: $font-size-bottom-block-sm;
        line-height: $line-height-bottom-block-sm;
      }


    }

    @include rwd-max(1200){
		width: 50%;
	    padding-left: 12%;
	    padding-right: 4%;
	    background-size: 95% 40%;
    }

    @include lg {
    	width: 100%;
    	padding-right:10%;
    }

    @include md {
      width: 100%;
      background: none;
      padding-top: 0;
      padding-left: 35px;
      padding-right: 35px;
      // order: 2;
      margin-top:50px;

    }
  }

  &__heading {
    font-family: $font-heading;
    font-size: 36px;
    line-height: 43px;

    br {display: none; }

    @include xl {
      // padding-right: 10%;
      font-size: 30px;
      line-height: 36px;
    }

    @include lg {
      font-size: 36px;
      line-height: 45px;
    }

    @include md {
      font-size: 30px;
      line-height: 36px;


    }

    @include sm {
      br {
        display: none;
      }
    }
  }


  &__image {
    width: 55%;
    padding-right: 4%;
    padding-top: 150px;

    .embed-container {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		max-width: 100%;


	  	iframe, object, embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.hidden-video{display:none;}

		.play{
			width:100%; height:100%;
			position: absolute;
			background-image: url('/wp-content/themes/t2m/assets/images/play.svg');
		    background-position: center center;
		    background-repeat: no-repeat;
		    background-size: 80px 80px;
		    opacity:0.5;
		    z-index:20;
		    transition: all 0.3s ease;

		    &:hover{
		    	opacity:1;
		    }
		}

		.poster-container{
			width:100%; display:block; position:relative;
			z-index: 10;


			img{
				width:100%; height:auto;
				z-index:1;
			}
		}

	}

    @include lg {
      width: 100%;
      padding-top: 50px;
      padding-right:0;
      padding-left: 35px;

    }
    img {
      width: 100%;
    }
  }
}
