// Home Projects

$panelcount: 5; // set # of panels/sections here

.home-projects {

  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-top: 8%;

  width: 100%;
  height: 100%;

  @include xl {
    margin-top: 4%;
  }

  @include md {
    margin-top: 6%;
    padding:0 $padding-sm;
  }

  @include sm {
    margin-top: 35px;
    padding:0 20px;
  }

  // @include sm-land {
  //   padding: $padding-sm;
  // }

  &__item {
    height: 75vh;
    min-height: 600px;
    max-height: 700px;
    // margin-left: 2%;
    margin-right: 2%;
    border: 20px solid $color-white;
    @include box-shadow(4px, 5px, 10px, -2px, rgba(51,51,51,0.5));

	/* Standard background */
		background-size: 90%;
		background-position: top right -1px;
		background-position-y: 50%;
		background-repeat: no-repeat;
		background-color: $color-blue;

    padding-left: 30px;

    @include xxl {
      min-height: 700px;

		/* Standard background */
	      background-size: 88%;
	      background-position-y: 50%;
    }

    @include rwd-min(1800){
		/* Standard background */
			background-size: 70%;
	}

	@include rwd-min(2200){
		/* Standard background */
			background-size: 65%;
	}

    @include xl {
		/* Standard background */
			background-position-y: 90%;
    }

	@include lg {
		/* Standard background */
			background-size: 80%;
			background-position-y: 90%;
	}

	@include md {
		/* Standard background */
		background-size: 95%;
		background-position-y: 90%;
		margin-bottom:25px;
      	margin-right:0px;
		// width: 100%;
	 //    padding-left:35px;
	 //    padding-right:35px;
	}

    @include sm {
      margin:0 auto 25px auto;
      width:100%;
      border-width: 10px;
      height: 500px;
      min-height: 400px;
      padding-left: 15px;
      padding-right: 15px;

		/* Standard background */
			background-size: 100%;
			background-position: center bottom;
			background-repeat: no-repeat;
			background-position-x: 100%;
    }


	@include xs {
		/* Standard background */
			background-size: 110%;
	}

    &:not(.slick-current) {
      position: relative;
      z-index: 90;
      left: 0;

      .link--invisible {
        display: none;
      }

      &.next {
        transition: transform 0.6s cubic-bezier(.165,.84,.44,1), margin 700ms ease-in-out !important;

        &:hover {
          margin-left: -1%;
          transition: margin 700ms ease-in-out;

          @include sm {
            // margin-left: 22px;
            transition: none;
          }
        }
      }
      &.prev {
        &:hover {
          margin-right: 1%;
          margin-left: 1%;
          transition: margin 700ms ease-in-out;

        }
      }
    }

    &.fullsize{
    	background-size:auto 115%;

	    // background-position:center right -150px;

        // @include xxl {
    		// background-size:auto 127%;
	        // background-position:center right -150px;
	    // }
        // @include xl {
	    	// background-position:center right -150px;
        // }
        // @include lg {
	        // background-position:center right -300px;
	    // }

        // @include md {
	        // background-position:20px 0;
        // }

  		@include rwd-max(1600){
    		background-size:auto 100%;
			// background-position-x:100%;
  		}

		@include rwd-max(1400){
    		background-size:auto 105%;
  		}

		@include rwd-max(1200){
    		background-size:auto 100%;
			background-position-x:-20%;
  		}

		@include lg {
			background-position-x:10%;
		}
		@include md {
			// background-position-x:30%;
		}

        @include sm {
        	background-position:bottom center;
    		background-size:cover;
        }
    }

    &--white {
      color: $color-white;

      .link--cta {
        &:before {
          color: $color-white;
        }
        span {
          &:after {
            border-color: $color-white;
          }
        }
      }
    }

  }

  &__title {
    font-family: $font-heading;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;

    @include md {
      font-size: 30px;
      line-height: 36px;
    }

    @include sm {
      font-size: 25px;
      line-height: 30px;
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }

  &__desc {
    font-family: $font-body-regular;
    font-size: 1rem;

    @include md {
      font-size: 0.95rem;
    }

    @include sm {
      // padding-right: 2%;

      br {
        display: none;
      }
    }
  }

  &__link {
    margin-top: 2rem;

    position: relative;
    z-index: 5;
    span {

    }
    i {
      padding-right: 0.5rem;
    }

    @include sm {
      margin-top: 15px;
    }
  }

  &__slider {
    &.slick-initialized {
      .slick-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

    }

    .slick-list {
      padding-bottom: 5px !important;
      box-sizing: initial;
    }
  }

  .slick-list {
    padding:0 20% 0 0;
    //overflow: visible;

    @include md {
      padding: 0 35px !important;
      overflow: hidden;
    }
  }

  .slick-prev {
    left: 8%;
    z-index: 10;

    &:before {
      color: $color-text;
    }

    &.slick-disabled {
      opacity: 0;
    }
  }

  .slick-next {
    right: 13%;

    &:before {
      color: $color-text;
    }
    &.slick-disabled {
      opacity: 0;
    }
  }

  .slick-dots {
    bottom: -50px;
    li {
      &:hover {
        color: $color-text;
      }
    }
  }

}

#js-wrapper {
  overflow: hidden;
}

.red-triangle-wrapper {
  margin-top: 0;

  @include sm {
    opacity: 0;
  }
}

.red-triangle {
  width: 40%;
  position: relative;
  left: 0;
  bottom: 60px;
  z-index: -1;
}


/* Language variations */

	// body {
	//   &.es {
	//     .home-projects__item {
	//       @include sm {
	//         height: 500px;
	//       }
	//     }
	//   }

	//   &.ca {
	//     .home-projects__item {
	//       @include sm {
	//         height: 475px;
	//       }
	//     }
	//   }
	// }