// Mariismos

.home-mariismos {
  background-color: $color-pink;
  padding-bottom: 0;

  @include sm-land {
    padding-bottom: 60px;
  }

  .slick-list {
      	@include sm {
      		min-height:600px;
  		}
  }

  .slick-initialized {
    .mariismos__slide {
      display: flex;
    }
  }
  &__slider {
    visibility: hidden;
    .slick-dots {
      bottom: 70px;
      padding-left: 49%;
      text-align: left;

      @include xl {
        bottom: 50px;
      }

      @include sm {
        padding-left: 35px;
        position: relative;
        bottom: 0;
        background-color: $color-pink;
        padding-bottom: 50px;
      }

      @include sm-land {
        bottom: 0;
      }

      li {
        &:hover {
          color: $color-text;
        }
      }
    }
    &.slick-initialized { visibility: visible; }
  }
}


.mariismos__slide {
  flex-wrap: wrap;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  @include sm {
    padding-bottom: 0;
    padding-top: 1%;
  }

  /* Specific SVG adjustments */

  &.mariismos-mamushka {
    .mariismos__image {
      img {
        width: 55%;
        margin-left: 11%;
      }
    }
    .mariismos_desc {
      width: 75%;

      @include xl {
        width: 100%;
      }
    }
  }

  &.mariismos-karma {
    .mariismos__image {
      img {
        width: 65%;
        margin-left: 10%;
      }
    }
  }

}

.mariismos__image {
  width: 50%;
  padding-left: 8%;
  padding-top: 2%;

  opacity: 0;
  transition: transform 1s cubic-bezier(.165,.84,.44,1),opacity 0.5s cubic-bezier(.165,.84,.44,1);
  transform: translateY(-20px) translateZ(0);
  transition-delay: 0.55s;

  @include sm {
    width: 100%;
  }

  &.animated {
    opacity: 1;
    transform: translateY(0) translateZ(0);

  }
  &.visible {
    opacity: 1;
  }
  img {
    width: 85%;
  }
}

.mariismos__text {
  width: 50%;
  height: 100%; /* for flex to work */
  padding-right: 8%;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;

  @include xl {
    padding-right: 6%;
  }

  @include lg {
    margin-bottom: 10px;
  }

  @include sm {
    width: 100%;
    padding: 10px 35px 0 35px;
  }

  &.animated {
    opacity:1;
    .mariismos__title, .mariismos__heading, .mariismos_desc  {
      opacity: 1;
      transform: translateY(0) translateZ(0);
    }

  }
  &.visible {
    opacity: 1;
  }
}

.mariismos__title {
  font-family: $font-body-regular;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;

  margin-top: 0;
  opacity: 1;
  transition: transform 1s cubic-bezier(.165,.84,.44,1),opacity 1s cubic-bezier(.165,.84,.44,1);
  transform: translateY(0px) translateZ(0);
  transition-delay: 0.25s;

  @include xl {
    margin-bottom: 10px;
  }

  @include md {
    font-size: 14px;
    margin-bottom: 0.25rem;
  }

}

.mariismos__heading {
  font-family: $font-heading;
  font-size: 50px;
  line-height: 59px;
  font-weight: 400;

  margin: 0 0 0.75rem 0;
  opacity: 0;
  transition: transform 1s cubic-bezier(.165,.84,.44,1),opacity 1s cubic-bezier(.165,.84,.44,1);
  transform: translateY(0) translateZ(0);
  transition-delay: 0.35s;

  &.animated {
    opacity: 1;
    transform: translateY(15px) translateZ(0);

  }

  @include xl {
    font-size: 40px;
    line-height: 46px;
  }

  @include md {
    font-size: 33px;
    line-height: 38px;

    margin-bottom: 0;
  }
}

.mariismos_desc {
  font-family: $font-body-regular;
  font-size: 1rem;
  padding-right: 5%;
  width: 90%;

  opacity: 0;
  transition: transform 1s cubic-bezier(.165,.84,.44,1),opacity 1s cubic-bezier(.165,.84,.44,1);
  transform: translateY(0) translateZ(0);
  transition-delay: 0.35s;

  &.animated {
    opacity: 1;
    transform: translateY(15px) translateZ(0);

  }

  @include xl {
    width: 100%;
  }

  @include md {
    font-size: 0.95rem;
  }
}

.pagingInfo {
  display: none;
}
