// Services Blocks

.service {

  &__block {
    position: relative;
    width: 100%;
    z-index: 0;

    &--left {
      padding-left: 10%;
      justify-content: flex-start;
      margin-right: 50%;
      width: 50%;

      @include md {
        padding-left: $padding-md;
        padding-right: $padding-md;
        width: 100%;
        margin-right: 0;
      }

      .service__text {
        padding-right: 12%;
        @include md {
          padding-right: 30%;
        }
        @include sm {
          padding-right: 0;
        }
      }

      .service__title {
        padding-right: 10%;
      }

      .service__image {
        @include md {
          margin-left: 0;
          margin-right: auto;
        }
      }
    }

    &--right {
      justify-content: flex-end;
      width: 50%;
      margin-left: 50%;

      @include md {
        padding-left: $padding-md;
        padding-right: $padding-md;
        width: 100%;
        margin-left: 0;
      }

      .service__text {
        padding-left: 15%;
        padding-right: 10%;

        @include md {
          text-align: right;
          padding-right: 0;
        }

        @include sm {
          text-align: left;
          padding-left: 0;
        }

      }

      .service__title {
        padding-left: 0;
        @include sm {
          padding-left: 0;
        }
      }

      .service__image {
        padding-left: 15%;

        @include md {
          padding-left: 0;
          margin-left: auto;
          margin-right: 0;
        }
        @include sm {
          margin-left: 0;
        }
      }

      .service__desc {
        padding-right: 15%;
        @include md {
          padding-right: 0;
        }
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 100;

    width: 100%;
  }

  &__image {
    width: 70%;
    min-height: 300px;
    position: relative;

   @include xl {
     min-height: 200px;
   }

    @include md {
      width: 50%;
    }

    @include sm {
      width: 80%;
      margin-top: 30px;
      margin-left: auto !important;
      margin-right: auto !important;
      min-height: 170px;
    }

    @include sm-land {
      min-height: auto !important;
    }


    object {
      visibility: hidden;
      display: none;
      opacity: 0;
      @include transition (opacity 0.25s linear);
    }

    &.show-animation{
      object {
        display: block;
        visibility: visible;
        margin-left: auto !important;
        margin-right: auto !important;
        opacity: 1;
      }
      .service__image--placeholder {
        position: absolute;
        opacity: 0;
      }
    }

    &.full-visible {
      object {
        display: block;
        visibility: visible;
        margin-left: auto !important;
        margin-right: auto !important;
        opacity: 1;
      }

      .service__image--placeholder {
        position: absolute;
        opacity: 0;
      }
    }

    &--placeholder {
      position: absolute;
      display: block;
      opacity: 1;
      @include transition (opacity 0.25s linear);
    }
  }

  &__title {
    font-family: $font-heading;
    font-size: 40px;
    line-height: 48px;
    font-weight: $normal;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;

    @include rwd-max(1180){
      font-size: $font-size-service-title-lg;
      line-height: $line-height-service-title-lg;
      padding-right: 2%;
    }

    @include md {
      font-size: $font-size-service-title-md;
      line-height: $line-height-service-title-md;
    }

    @include sm {
      font-size: $font-size-service-title-sm;
      line-height: $line-height-service-title-sm;
    }
  }

  &__desc {
    margin-top: 0;
    margin-bottom: 20px;
    @include rwd-max(1180){
      font-size: 0.95rem;
    }
  }
}

#service-websites {

  .service {
    &__image {
      min-height: 220px;

      @include xl {
        min-height: 180px;
      }

      @include sm {
        min-height: 120px;
      }
      &--placeholder {
        width: 100%;
        @include sm {
          width: 100%;
          margin-top: 0px;

        }
      }
    }
  }

  @include rwd-max(1180){
    margin-top: -4%;
  }
  @include md {
    margin-top: 0;
  }
}

#service-videos {
  margin-top: -14%;

  @include rwd-max(1180){
    margin-top: 2% !important;
  }

  @include xxl {
    margin-top: 0%;
  }

  @include md {
    margin-top: 0;
  }

  object, image {
    width: 70%;
    @include md {
      margin-left: auto;
    }
    @include sm {
      margin-left: 0;
    }
  }

  .service__image--placeholder {
    width: 70%;
    margin-top: 0px;
    margin-left: -19px !important;
    @include sm {
      margin-left: 50px !important;

    }
  }


    @include sm {
      width: 100%;
      margin-top: 0;
      margin-left: 0;
      min-height: 175px !important;
    }

}

#service-emails {
  margin-top: -20%;


  @include xxl {
    margin-top: -10%;
  }

  @include rwd-min(1400) {
    margin-top: -5.5% !important;
  }

  @include md {
    margin-top: 0;
  }

  object, image {
    width: 70%;
  }

  .service__text {
    padding-right: 0;
  }
  .service__desc {
    padding-right: 20%;
    @include sm {
      padding-right: 0;
    }
  }
  .service__image--placeholder {
    width: 70%;
    margin-left: 15%;
    margin-top: -1%;

    @include sm {
      width: 70%;
      margin-left: 15%!important;
      margin-top: 0;
    }
  }
}

#service-campaigns {
  margin-top: 0%;

  @include xxl {
    margin-top: -6%;
  }

  @include lg {
    margin-top: -2%;
  }

  @include md {
    margin-top: 0;
  }

  .service__image--placeholder {
    width: 93%;
    margin-left: -15%;

    @include sm {
      width: 100%;
      margin-top: 0;
    }
  }
}
