// Videos

.project-block {
  .video-js {
    .vjs-big-play-button {
      @include md {
        font-size: 2.5em;
        line-height: 2.5em;
        height: 0.63332em;

        margin-top: -1em;
        padding: 30px;
      }
    }
  }
}

.case-study {
  .video-js {
    .vjs-big-play-button {
      @include md {
        font-size: 2.5em;
        line-height: 2.5em;
        height: 0.63332em;

        margin-top: -1em;
        padding: 30px;
      }

      @include sm {
        margin-left: -2.15rem;
      }
    }
  }
}


