// Website Helpers

// Colours

.background {
  &--pink {
    background-color: $color-pink;
  }
  &--pink-white-triangle {
    background-color: $color-pink;
    background-image: url('/wp-content/themes/t2m//assets/images/backgrounds/corner-white-cs.svg');
    background-repeat: no-repeat;
    background-position: bottom -2px right;
    background-size: 100%;

  }
  &--purple {
    background-color: $color-purple;
  }

  &--white {
    background-color: $color-white;
  }

  &--blue {
    background-color: $color-blue;
  }

  &--transparent {
    background-color: transparent;
  }

  &--absolute {
    position: absolute;
  }
}


.rotate-180{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.rotate-180-md{
	@include md {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
    }
}
.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.top-10 {
  top: -10%;
}

.top-35 {
  top: -35%;
}

.top-0 {
  top: 0;
}

.bottom-20 {
  bottom: -20%;
}

.front-z {
  z-index: 10;
}

.back-z {
  z-index: 0;
}

.minus-z {
  z-index: -1;
}

.padding-0 {
  padding:0;
}

.margin-0 {
  margin:0;
}

.margin-b-0 {
  margin-bottom: 0 !important;
}

.margin-t-0-mob {
  @include sm {
    margin-top: 0 !important;
  }
}

.margin-b-0-mob {
  @include sm {
    margin-bottom: 0 !important;
  }
}

.full {
  width: 100%;
}

.h-400 {
  height: 400px;
}

.padding-sm {
  @include sm {
    &.bottom-20 {
      padding-bottom: 20px;
    }
    &.left-35 {
      padding-left: 35px !important;
    }

    &.right-35 {
      padding-right: 35px !important;
    }
  }

}

// Mobile vs Desktop

.hide-lg {
  display: none;
  @include lg {
    display: none;
  }
  &.hide-md {
    @include md {
      display: none!important;
    }
  }
  &.hide-sm {
    @include sm {
      display: none;
    }
  }
  &.show-md {
    @include md {
      display: block;
    }
  }
  &.show-sm {
    @include sm {
      display: block;
    }
  }
}

.hide-md {
  @include md {
    display: none!important;
  }
  &.hide-lg {
    @include lg {
      display: none;
    }
  }
  &.hide-sm {
    @include sm {
      display: none;
    }
  }
  &.show-lg {
    @include lg {
      display: block;
    }
    &.show-sm {
      @include sm {
        display: block;
      }
    }
  }
  &.show-sm {
    @include sm {
      display: block;
    }
  }
}

.hide-sm {
  @include sm {
    display: none !important;
  }
  @include md {
    display: none;
  }
  &.hide-lg {
    @include lg {
      display: none;
    }
  }
  &.hide-md {
    @include md {
      display: none!important;
    }
  }
  &.show-lg {
    @include lg {
      display: block;
    }
    &.show-md {
      @include md {
        display: block;
      }
    }
    &.hide-md {
      @include md {
        display: none!important;
      }
    }
  }
  &.show-md {
    @include md {
      display: block;
    }
  }
}

.show-sm {
  display: none;
  @include sm {
    display:block;
  }
}


.show-md {
  @include md {
    display:block;
  }
}

.show-lg {
  @include lg {
    display:block;
  }
}





.hidden {
  visibility: hidden;
  display: none !important;
}