// Footer

.footer {
  border: none;
  position: relative;

  @include lg {
    flex-wrap: wrap;
    background-color: transparent;
  }

  &__container {
    display: flex;

    @include lg {
      flex-wrap: wrap;
    }

  }

  &__wrapper {
    background-color: $color-blue;
    padding: 35px 0 25px 25px;
    width: 90%;

    @include lg {
      width: 100%;
      padding: 20px 25px;
    }

    @include sm {
      padding-top: 35px;
    }

  }
  &__logo {
    position: relative;
    max-width: 170px;

    @include lg {
      margin-bottom: 50px;
    }
    @include md {
       max-width: 140px;
       margin-left: -10px;
    }

    img {
      @include xl {
        width: 100%;
        display: block;
      }
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 8%;
    padding-right: 8%;

    @include rwd-max(1140){
      padding-left: 3%;
      margin-top: 3%;
    }
    @include lg {
      padding-left: 25px;
      padding-right: 25px;
    }

    @include md{
      padding-left: 10px;
      padding-right: 10px;
    }

  }

  &__col {
    width: 35%;
    padding-right:5%;

    @include lg {
      width: 100%;
    }

  }

  &__years {
  	margin-top:-15px;
    	.footer__subtitle {
    		font-size:13px;
    		span{
    			display:inline-block;
    			&.years-img{margin-bottom:15px; margin-top:15px;}
    			a{
    				br{display:none;}
    			}
    			br{display:none;}
    		}
    	}
	  	@include lg{
	  		position:absolute; top:35px; right:20px;

	    	.footer__subtitle {
	    		text-align: right;
	    		span{
	    			display:block;
    				&.years-img{
    					display:inline-block;margin:0px;
    					a{display:inline;}
    				}

    				&.years-text{
    					margin-top:15px;
		    			a{
		  					// margin-top:15px;
		  					display: block;
			    			br{display:block;}
		  				}
		  				br{display:block;}
		  			}

	    		}
	    	}
	  	}
	  	@include md{
	  		.footer__subtitle {
	  			span{
    				&.years-img{margin-top:15px;}
    			}

	  			font-size:11px;
	  			line-height:18px;

    			// br{display:block;}
	    		// span{
	    			// &.years-img{margin-bottom:10px;}
	    		// }
    		}
  		}
  }

  &__sitemap {
    width: 25%;
    padding-right:0%;
    .footer__subtitle {
      padding-right: 16%; margin-top:20px;

      ul{
      	li{
      		display:block; font-size:13px; line-height:22px; margin-bottom:15px;
      		a{
      			// text-transform: uppercase;
      			font-size:13px; line-height:22px;
      		}
      	}
      }
    }

    @include lg {
    	margin-top: 5px;
      width: 100%;
    }
  }


  &__women {
    width: 40%;
    padding-right:5%;
    text-align:right;

    .footer__subtitle {
      margin-bottom:20px; font-size:13px; line-height: 22px;


    	@include smxs {
    		br{display:none;}
    	}
    }

    @include lg {
    	margin-top: 0px;
    	text-align: left;
      width: 100%;
    }
  }


  &__newsletter {
    width: 45%;
    padding-right:5%;
    .footer__subtitle {
      padding-right: 16%;
    }

    @include lg {
      width: 100%;
    }
  }


  &__row {
    margin-bottom: 50px;
    @include lg {
      margin-bottom: 20px;
    }
  }

  &__title {
    color: $color-pink;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 20px;

    @include lg {
      font-size: 13px;
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    color: $color-white;
    font-size: 1rem;

    @include rwd-max(1140){
      // font-size: 13px;
    }

    @include lg {
      margin-top: 0;
      margin-bottom: 48px;
    }

    .years-img{
    	margin-right:20px; vertical-align:middle; display:inline-block; height:58px;

    	img{height:100%; width:auto;}


    	@include lg {
    		margin-right:0px;
    	}

    	@include md {
    		margin-right:0px; height:53px; width: auto;
    		img{height:53px; width: auto;}
    	}
    }
  }



  i {
    &.link--cta {
      &:before {
        color: $color-white;
      }

      &:hover {
        span {
          &:after {
            @include sm {
              width: 0 !important;
            }
            @include sm-land {
              width: 0 !important;
            }
          }
        }
      }
    }
  }

  &__send {
    padding-top: 10px;
    padding-left: 25%;

    @include lg {
      display:none;
    }

    img {
      width: 80px;
    }
  }

  .social {
    &__list {
      padding-left: 0;
      @include sm {
        margin-top: 0;
      }
    }

    &__item {
      display: inline;
      margin-right: 20px;
    }

    &__link {
      color: $color-white;
      display: inline-block;

      span {
        // display: inline-block;
        line-height: 1rem;
        &:after {
          display: block;
          content: '';
          border-bottom: solid 1px $color-white;
          width: 0;
          @include transition (width 250ms ease-in-out);
        }
      }

      &:hover {
        span {
          &:after {
            width: 100%;
            @include sm {
              width: 0;
            }
            @include sm-land {
              width: 0 !important;
            }
          }
        }
      }
    }

	@include lg {

	    &__link {
	    	span {
	    		&:after {
	    			width: 100%;
	    		}
			}
		}
	}
  }

  .button--up {
    width: 10%;
    text-align: center;
    a {
      display: inline-block;
      background-color: $color-white;
      padding: 20px;
      border-radius: 100%;
      text-transform: uppercase;
      font-size: 21px;
      @include rotate(-45deg);
    }
  }

  .footer-link--cta, .link--cta  {
    span {
      display: inline-block;
      color: $color-white;
      cursor: pointer;
      line-height: 1rem;

      &:after {
        display: block;
        content: '';
        border-bottom: solid 1px $color-white;
        width: 0;
        @include transition (width 250ms ease-in-out);
      }
    }

    &:hover {
      span {
        &:after {
          width: 100%;
        }
      }
    }


    @include lg {
        span {
        	&:after {
        		width:100%;
        	}
        }
    }


  }

  .footer-link--cta {
    span {
      @include sm {
        line-height: 12px;
      }

      &:after {
        @include sm {
          width: 100%;
        }
      }
    }
  }

  .footer-link--email {
    span {
      &:after {
        @include sm {
          width: 0 !important;
        }
        @include sm-land {
          width: 0 !important;
        }
      }
    }
  }

  .scroll-btn {
    @include lg {
      width: 100%;
      text-align: center;

      padding-top: 80px;
      padding-bottom: 40px;

      background-color: $color-blue;
      color: $color-white;

      span {
        position: relative;
        @include rotate(0deg);
        color: $color-white;
        padding-right: 0;
        &:after {
          position: absolute;
          bottom: 60px;
          margin-left: -25px;

          @include centerer-h;
          @include rotate(-90deg);

          border-color: $color-white;
        }
      }
    }
  }
}


.copyright {
  display: flex;

  &__text {
    color: $color-white;
    font-size: 12px;
    padding-bottom: 10px;
    text-align: left;
    width: 90%;
    padding-left: calc(8% + 10px);
    padding-bottom: $padding-sm;
    @include lg {
      width: 100%;
    }
    @include sm {
      padding-left: 25px;
    }
    @include sm-land {
      padding-left: calc(4% + 10px);
    }
  }

  &__space {
    width: 160px;
    @include lg {
      width: 0;
    }
  }

  .footer-link--cta {
    span {
      &:after {
        @include sm-land {
          width: 100%;

        }
      }
    }
  }
}