// Grid

main {
  padding-top: 149px;

  @include md {
    padding-top: 130px;
  }
  @include sm {
    padding-top: 130px;
  }
  @include sm-land {
    padding-top: 130px;
  }
}

body {
  &.bg-fixed {
    background-attachment: fixed;
    background-position-y: -504px;
  }
}
