// Header Styles

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;

  z-index: 100;
  @include transition(all 0s ease);

  @include md {
    display: block;

    padding: 15px;
  }

}



// Sticky Navigation

body.sticky-nav {
  .nav--sticky {
    top: 0;
  }
  .hamburger {
    top: 10px;
  }
  .nav {
    padding-top: 3px;
    align-items: center;

    @include sm {
      padding-top: 200px;
    }

    @include sm-land {
      height: 100vh;
      padding-top: 10%;
    }

    &__item {
      line-height: 1rem;
    }
  }

  .wpml-ls-menu-item {
    &.wpml-ls-current-language {
      .sub-menu {
        margin-top: 0;
      }
    }
  }
}

.nav--sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: -150px;

  @include transition(top .3s ease);

  background-color: $color-pink;

  &-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;

    padding: 15px 25px;
  }

  .logo-small {
    display: block !important;
    width: 55px;
    line-height: 10px;
  }
}


// Logo
.logo {
  max-width: 300px; // Pre Logo 15Y 2023 (base)
  // max-width: 200px; // Logo 15Y 2023
  visibility: visible;
  opacity: 1;
  display: inline-block;

  margin-top: -30px;
  margin-left: 0;

  @include md {
    // width: 160px; // Logo 15Y 2023
    position: relative;
    z-index: 10;
    margin-top: -25px; // Pre Logo 15Y 2023 (base)
  }

  &-image {
    width: 300px; // Pre Logo 15Y 2023 (base)
  	// position: absolute; // Logo 15Y 2023
    // width: 200px; // Logo 15Y 2023
    // height:auto; // Logo 15Y 2023

    @include md {
      width: 250px; // Pre Logo 15Y 2023 (base)
      // width: 160px; // Logo 15Y 2023
    }
  }

  img {
    width: 100%;
  }

  &__link {
    position: absolute;
    top: 0; // Pre Logo 15Y 2023 (base)
    // top: 17px; // Logo 15Y 2023
    left: 0;
    width: 70%;
    height: 70%;
    z-index: 90;
    width: 180px; // Pre Logo 15Y 2023 (base)
    // width: 170px; // Logo 15Y 2023
    height: 120px;

    // @include md {
    //   	width: 160px; // Pre Logo 15Y 2023 (base)
    // 	// top:-10px; // Logo 15Y 2023
    //   	// width: 160px; // Logo 15Y 2023
    //   	// height:95px; // Logo 15Y 2023
    // }
  }
}

.logo-static {
  // top:-23px; // Logo 15Y 2023
  // left: -16px; // Logo 15Y 2023
  @include md {
    display: block;
    // left:-8px; // Logo 15Y 2023
    // top:-45px; // Logo 15Y 2023

  }
}

.logo-animated {
  margin-top: calc($padding-md / 1.5); // Pre Logo 15Y 2023 (base)
  // top: 17px; // Logo 15Y 2023
  width: 170px;
  // height: 120px; // Logo 15Y 2023
  @include md {
    // width: 136px; // Logo 15Y 2023
    // left:4px; // Logo 15Y 2023
    // top:-24px; // Logo 15Y 2023
    display: none;
	  margin-top: calc(($padding-md / 1.5) + 1px); // Pre Logo 15Y 2023 (base)
	  width: 139px; // Pre Logo 15Y 2023 (base)
	  margin-left:3px; // Pre Logo 15Y 2023 (base)
  }
}

.logo-mobile {
  // top:-23px; // Logo 15Y 2023
  // left: -16px; // Logo 15Y 2023
  @include md {
    display: none;
    // left:-8px; // Logo 15Y 2023
    // top:-45px; // Logo 15Y 2023
  }
}

// Navigation
nav {
  display: flex;
  justify-content: flex-end;
  width: 45%;
  list-style: none;

  @include xl {
    width: 55%;
  }

  @include lg {
    width: 100%;
  }

  @include md {
    position: absolute;
    top: -100vh;
    left: 0;

    height: 100vh;
    width: 100%;

    background-image: url('/wp-content/themes/t2m//assets/images/backgrounds/mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;

    @include transition(all 0.35s ease-out);
  }
}

.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;

  @include md {
    width: 100%;
    height: 60vh;

    flex-direction: column;
    justify-content: center;

    padding-left: 45px;
    padding-top: 125px;
  }

  @include sm {
    padding-top: 125px;
    height: 65vh;
  }

  @include sm-land {
    height: 100vh;
  }
}

.nav__item {
  margin-right: 2.5rem;
  @include md {
    width: 100%;
    margin: 15px 0;
    opacity: 0;
    @include transform (translate3d(0, -10vh, 0));

  }

  &.current_page_item, &.current-page-ancestor {
    .nav__link {
      &:after {
        width: 100% !important;
      }
    }
  }

}

.nav__link {
  color: $color-nav;
  font-size: $font-size-nav;

  @include sm {
    display: inline-block;
  }

  span {
    display: block;
    line-height: 16px;

    @include sm {
      font-size: 30px;
      line-height: 26px;
    }
  }

  &:after {
      display: block;
      content: '';
      border-bottom: solid 1px $color-text;
      width: 0;
      @include transition (width 250ms ease-in-out);

      @include sm {
        @include transition (width 100ms ease-in-out);
        border-color: $color-pink;
        display: none;
      }
  }

  @include md {
    font-size: 33px;
    color: $color-pink;
  }

  &:hover {
    text-decoration: none;
    &:after {
      width: 100%;
    }
  }

}

// Language Switcher

.lang-switcher {
  &__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    .icon-arrow-down {
      font-size: 9px;
      margin-left: 0.75rem;
      display: inline-block;
      min-width: 9px;
    }
  }

  &--current {
    line-height: 1rem;
  }
  &__link {
    font-size: $font-size-lang;
    color: $color-nav;
    text-decoration: none;
  }
}

// Menu Navigation

body {
  &.has-nav {
    overflow: hidden;
    nav {
      top: 0;
    }
    .nav {
      &--sticky {
        display: none;
      }

      &__item {
        opacity: 1;
        @include transform (translateZ(0));
        transition: transform 0.91s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.91s ease;
        &:first-of-type {
          transition-delay: .3s;
        }
        &:nth-child(2){
          transition-delay: .4s;
        }
        &:nth-child(3){
          transition-delay: .5s;
        }
        &:nth-child(4){
          transition-delay: .6s;
        }

        @include md {
          position: relative;
          z-index: 100;
        }

      }

      .wpml-ls-current-language {
        opacity: 1;
        @include transform (translateZ(0));
        transition: transform 0.91s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.91s ease;
        transition-delay: .8s;

      }
    }

    .logo-animated {
      display: none !important;
    }

    .logo-static {
      display: none !important;
    }

    .logo-mobile {
      display: block !important;
    }

    &.sticky-nav {
      overflow: visible;
      header {
        position: fixed;
      }
    }

  }
}


// Navigation State for Pages

.nav__link {
  &--current {
    &:after {
      width: 100%;

      @include sm {
        width: 0;
      }
    }
  }
}

// Language Switcher

.wpml-ls-menu-item {
  &.wpml-ls-current-language {

    @include md {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 8%;
      // Menu animation
      opacity: 0;
      @include transform (translate3d(0, 5vh, 0));


    }

    .nav {
      &__link {
        display: inline-block;
        line-height: 14px;
        vertical-align: top;

        @include md {
        }

        span {
          display: inline-block;
        }
        &:after {
          display: none;
        }
      }
    }

    > .nav__link {

      @include md {
        margin-right: 10px;
      }

      span {

        &.wpml-ls-native {
          font-size: 15px;
          line-height: 19px;
          margin-right: 7px;
          margin-top: -2px;
          //text-decoration: underline;

          &:after {
            content: '';
            display: block;
            border-bottom: solid 1px $color-text;
            width: 100%;
            @include transition (width 250ms ease-in-out);

            @include md {
              border-color: $color-white;
            }

          }

          &:hover {
            text-decoration: none;
          }

          @include md {
            font-size: 16px;
          }
        }
      }

      &:before {
        content: "\61";
        display: inline-block;
        font-family: 't2m';
        font-size: 9px;
        line-height: 19px;
        font-weight: bold;
        //padding-left: 7px;
        float: right;
        @include transform (rotate(0deg));
        @include transition (width 250ms ease-in-out);

        @include md {
          display: none;
        }

      }

      &:hover {
        span {
          &.wpml-ls-native {
            &:after {
              width: 0;
              display: block;
            }
          }
        }

      }

      &.rotated {
        &:before {
          //padding-right: 7px;
          line-height: 7px;
          @include transform (rotate(-180deg));
        }
      }
    }

    .sub-menu {
      padding-left: 0;
      list-style: none;
      display: none;

      @include md {
        display: inline-flex !important;
        align-items: center;
      }

      li {
        &:first-of-type {
          margin-right: 20px;
          margin-top: 5px;
          margin-bottom: 5px;

        }
      }

      .nav__link {

        span {

          &.wpml-ls-native {
            font-size: 15px;
            line-height: 19px;

            @include md {
              font-size: 16px;
            }

            &:after {
              content: '';
              display: block;
              border-bottom: solid 1px $color-text;
              width: 0;
              @include transition (width 250ms ease-in-out);
            }

            &:hover {
              &:after {
                width: 100%;
              }

            }
          }
        }

      }
    }

    &.opened {
      > .nav__link {

        span {
          &.wpml-ls-native {
            &:after {
              width: 0;
            }
          }
        }
      }
    }
  }


}