body.case-study {
  background-image: url('/img/case-studies/simon-coll/background-top.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: unset;

  @include md {
    background-size: 135%;
    background-image: url('/img/case-studies/simon-coll/background-mobile.svg');

  }

  @include sm {
    background-position-y: -100px;
  }

  .nav__link--projects {
    &:after {
      width: 100%;
    }
  }

  .page-header {

    @include md {
      padding-bottom: 8%;
      padding-left: 0;
      padding-right: 0;
    }

    @include sm {
      padding-bottom: 0;
    }

    &__container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      @include md {
        flex-wrap: wrap;
        padding-right: 0;
      }
    }

    &__title {
      z-index: 10;
      margin-top: 8%;

      @include md {
        width: 100%;
        margin-top: 4%;
        padding-left: 35px;
        order: 2;

        br {
          display: inline-block;
        }
      }
    }

    &__image {
      margin-left: -7%;
      width: 72%;

      @include md {
        width: 100%;
        margin-left: 0;
        order: 1;
      }
    }

    &__specs {
      padding-left: 18%;
      padding-top: 10%;
      padding-bottom: 0;
      padding-right: 3%;
      width: 40%;

      @include md {
        width: 100%;
        padding-left: 0;
      }

      @include sm {
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 4%;
        font-size: 0.95rem;
      }

      > div {
        margin-bottom: 25px;
      }

      &--title {
        font-family: $font-body-bold;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 1px;

        margin: 0;

        @include sm {
          font-size: 14px;
        }
      }

      &--desc {
        font-family: $font-body-regular;
        font-weight: $normal;
        margin: 0;
      }

      &--list {
        padding-left: 15px;
        list-style-type: bullet;
      }

      &--item {
        text-indent: 0;

        @include sm {
          font-size: 0.95rem;
        }
      }
    }

    &__brief {
      padding-top: 10%;
      padding-left: 6%;
      padding-right: 12%;
      width: 60%;

      @include md {
        width: 100%;
      }

      @include sm {
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 8%;
        padding-top: 4%;
        background-color: $color-purple;
      }
    }

    .brief__desc {
      margin-bottom: 25px;

      @include sm {
        font-size: 0.95rem;
      }
    }

  }

  // Catalana Occidente

  &.catalana-occidente {
    background-position-y: 0;

    .case-study {
      &__block {
        padding: 10%;
      }
      &__images {
        &--two {
          img {
            width: 46%;
          }
        }
      }
      &__image {
        margin-bottom: 4%;
        &--left {
          padding-top: 30%;
          align-self: flex-end;
        }
        &--right {
          padding-bottom: 30%;
          align-self: flex-start;
        }
      }
    }
    &__video {
      padding-top: 20%;
    }
  }

  // Honda Miimo

  &.honda {
    .page-header {
      &__image {
        margin-left: -12.5%;

        @include md {
          margin-left: 0;
        }
      }
    }

    .case-study {
      &__image {
        padding:14% 12%;

        @include sm {
          padding-left: 35px;
          padding-right: 35px;
        }

        &--left {
          padding-top: 15%;
          align-self: flex-end;
        }
        &--right {
          padding-bottom: 15%;
          align-self: flex-start;
          @include sm {
            padding-bottom: 0;
          }
        }
      }
      &__images {
        padding: 12% 6% 15% 6%;
        position: relative;

        @include sm {
          padding-left: 35px;
          padding-right: 35px;
        }
        &--two {
          img {
            width: 48%;

            @include sm {
              width: 100%;
            }
          }
        }
      }
      &__video {
        padding-left: 8%;
        padding-right: 8%;

        @include sm {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }

  // Accelya

  &.accelya {
    
    .page-header {
      &__image {
        margin-left: 0;
        width: 72%;

        @include sm {
          width: 100%;
        }
      }

      &__brief {
        @include sm {
          padding-bottom: 0;
        }   
      }

      .brief__desc {
        @include sm {
          margin-bottom: 0;
        }
      }
    }

    .case-study {

      &__image {
        padding-bottom: 0;
      }

      &__video {
        &--macbook {
          padding: 6% 12% 9% 12%;
        }
      }

      &__images {
        padding: 10% 20% 20% 20%;

        @include sm {
          padding: 20% 10% 20% 10%;
        }

        .image--left {
          width: 60%;

          @include sm {
            width: 50%;
          }
        }

        .image--right {
          position: absolute;
          width: 45%;
          bottom: 18%;
          left: 40%;
          @include sm {
            width: 50%;
          }
        }
      }

    }
  }

  &.amatller {
    background-image: url('/img/case-studies/amatller/background-top.svg');

    @include sm {
      background-image: url('/img/case-studies/amatller/background-mobile.svg');
    }

    .case-study {
      &__block{
        padding: 10% 12% 0% 12%;
        margin-bottom: 10%;
      }

      &__video {
        padding-left: 20%;
        padding-right: 20%;
        margin-bottom: 0;
      }

      &__images {
        margin-bottom: 0;
      }
    }

  }

}

.case-study {
  &-next {
    display: flex;

    @include md {
      padding-top: 6%;
      padding-bottom: 6%;
      flex-wrap: wrap;
    }

    @include sm {
      padding-top: 10%;
    }

    &__text {
      width: 50%;
      padding-left: 8%;
      padding-right: 8%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: -100px;

      @include md {
        width: 100%;
        margin-top: 0;
      }
    }

    &__desc {
      font-size: 0.95rem;
    }

    &__image {
      width: 45%;
      padding: 4% 0 8% 0;

      position: relative;

      @include md { 
        width: 100%;
      }
      &--boxed {
        img {
          border: 20px solid $color-white;
          @include box-shadow(9px, 5px, 31px, -20px, rgba(206,200,200,1));
        }
      }

      img {
        display: block;
        width: 100%;
      }
    }


    &__title {
      font-family: $font-body-regular;
      font-size: 15px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;

      margin-top: 0;

      @include sm {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }

    &__heading {
      font-family: $font-heading;
      font-size: 50px;
      line-height: 59px;
      font-weight: 400;

      margin: 0 0 0.75rem 0;

      @include md {
        font-size: $font-size-bottom-block-md;
        line-height: $line-height-bottom-block-md;
      }

      @include sm {
        font-size: $font-size-bottom-block-sm;
        line-height: $line-height-bottom-block-sm;
      }

      
    }

    .link--cta {
      margin-top: 20px;
    }
  }

  &__image {
    img {
      display: block;
      width: 100%;
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    &--two {
      img {
        width: 45%;

        @include sm {
          width: 100%;
          &:first-of-type {
            margin-bottom: 8%;
          }
        }
      }
    }
    &--three {
      padding: 4% 4% 0 4%;
      img {
        width: 30%;
        padding: 2%;
        position: relative;

        @include sm {
          padding: 1%;
        }

        &.move-up {
         top: -70px;
         @include sm {
           top: 0;
         }
        }
      }
    }

    &--diff {
      align-items: flex-start;
      padding: 8% 6% 8% 6%;
      position: relative;

      @include sm {
        padding-top: 0;
        padding-bottom: 0;
      }
        &--two {
          img {
            width: 48%;
          }
        }
        .case-study__image {
          padding:14% 18%;
          &--left {
            padding-top: 15%;
            align-self: flex-end;
          }
          &--right {
            padding-bottom: 15%;
            align-self: flex-start;
          }
        }
    }
  }

  &__slider {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    @include sm {
      padding: 10% 14%;
      margin-bottom: 4% !important;
    }

    .slick-dots {
      position: relative;
      bottom: -10px;
      margin-top: 6%;
    }
   
  }

  &__video {
    position: relative;

    padding-top: 10%;
    padding-left: 12%;
    padding-right: 12%;

    &--full {
      padding-left: 0;
      padding-right: 0;
    }

    &--macbook {
      padding: 6% 12%;
      background-image: url('/img/macbook.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    img {
      display: block;
      width: 100%;
      margin-bottom: -1px;
      @include push--auto;
    }

    .video__background {

      display: block;
      width: 100%;
      margin-bottom: -1px;
      @include push--auto;

      padding-top: 62.5%; /* 8:5 Aspect Ratio */

      z-index: 10;
    }
  }

  &__block {
    position: relative;
    padding: 6%;

    @include sm {
      padding-bottom: 0;
    }
  }

  &__icons {
    padding: 4% 14% 8% 14%;

    @include sm {
      padding-left: 35px;
      padding-right: 35px;
      padding-bottom: 4%;
    }

    &--list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &--item {
      width: 12.5%;
      margin: 1% 0;

      @include sm {
        width: 65px;
      }

      img {
        display: block;
        height: auto;
        text-align: center;
        width: 70%;
        min-width: 85px;

        @include sm {
          min-width: 65px;
        }
      }
    }
  }

}

