body.home {

  .logo-static {
    display: none;
    @include md {
      display: block;
    }
  }

  .logo-animated {
    display: block !important;
    @include md {
      display: none !important;
    }
  }

  // Page Header

  .page-header {
    &__subtitle {

      > a {
        display: flex;
        align-items: center;
      }

      .currently {
        padding-top: 5px;
      }

      strong {
        margin-left: 0.3rem;
        @include sm {
          display: block;
          margin-left: 0;
        }
      }
    }

    .icon-dash {
      width: 30px;
      height: 35px;
      margin-right: 1rem;
    }
  }

  // Bottom Block

  .bottom-block {
    &__wrapper {
      background-color: $color-pink;
      @include md {
        padding-bottom: 4%;
      }
    }

    &__content {

      @include md {
        padding-top: 0;
      }

      @include sm {
        padding-bottom: 0;
        padding-top: 12%;
      }

      >  img {

        @include md {
          top: -130px;
          left: 0;
        }

        @include sm {
          top: -76px;
          left: -10px;
          width: 95px;
        }
        
      }
    }

    &__text {
      margin-top: 10%;
    }

    &__desc {
      @include sm {
        margin-top: 0;
      }

      a {
        @include sm {
          text-decoration: none !important;
        }
      }
      
    }

    &__image {
      object {
        @include md {
          right: 0;
          max-width: 230px;
          top: -160px;
          left: auto;
        }

        @include sm {
          max-width: 230px;
          width:40%;
          right: 0;
          top: -140px;
        }
      }
      img {
        top: -125px;
      }
    }

    &__desc {
      margin-top: 0;
    }
  }

  // Footer


  footer {
    background-color: $color-pink;
  }

}

body.home {
  background-image: url('/img/fondo_static.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: background-image 0.2s ease-out;
  transition: background-image 0.2s ease-out;

  -webkit-transition-property: background-image;
  transition-property: background-image;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

  @include xl {
    background-size: 120%;
  }

  @include md {
    background-image: url('/img/backgrounds/home-mobile.svg');
    background-size: 100%;
  }

  &.animate {
    background-image: url('/img/fondo_08.svg');
  }
}

body.home.v2 {
  background-image: url('/img/fondo_animated.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: background-image 0.2s ease-out;
  transition: background-image 0.2s ease-out;

  -webkit-transition-property: background-image;
  transition-property: background-image;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
