body.legal {
    background-image: url('/img/backgrounds/legal.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 0%;
    background-attachment: unset;

    @include md {
      background-image: url('/img/backgrounds/legal-mobile.svg');
    }
  
    .page-header {
      @include sm {
        margin-top: 10px;
      }
      &__title {
        margin-top: 0;
      }
    }

    .nav__link {
      &:after {
        width: 0;
      }
    }

    
  }

.legal-content {
    padding: 0 10% 10% 10%;

    @include md {
      padding-left: $padding-md;
      padding-right: $padding-md;
    }
}

.legal{
    &__heading {
        font-family: $font-heading;
        font-size: 36px;
        line-height: 43px;
        font-weight: $normal;

        @include md {
          font-size: 25px;
        }
    }
    &__desc {
        width: 85%;
        @include sm {
          width: 100%;
        }
    }

    a {
      span {
        display: inline-block;
        @include sm {
          line-height: 12px;
        }
        &:after {
          display: block;
          content: '';
          border-bottom: solid 1px #0a3d5f;
          width: 0;
          @include transition (width 250ms ease-in-out);

          @include sm {
            width: 100%;
          }
        }
      }

      &:hover {
        span {
          &:after {
            width: 100%;
          }
        }
      }
    }
}

.table {
  &__cookies {
    border-spacing: 0;
    border-color: $color-blue;

    margin-top: 40px;

    @include md {
      font-size: 0.9rem;
    }

    tr {
      &:first-of-type {
        td {
          border-bottom: 1px solid $color-blue;
        }
      }
    }

    td {
      border: none;
      padding: 10px 25px;
    }

    ul {
      padding-left: 0;
      margin-left: 15px;
    }
  }
}