body.no-route {
    background-image: url('/img/backgrounds/legal.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 0%;
    background-attachment: unset;

    @include md {
      background-image: url('/img/backgrounds/no-route-mobile.svg');
    }
  

    main {
      padding-bottom: 149px;
    }
  
    .page-header {
      &__title {
        //margin-top: 0;
      }
    }
  }

