body.projects {
  background-image: url('/img/backgrounds/projects.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 0;
  background-attachment: unset;

  @include xxl {
    background-position-y: 2%;
  }

  @include lg {
    background-position-y: 0;
    background-size: 110%;
  }

  @include md {
    background-image: url('/img/backgrounds/projects-mobile.svg');
    background-size: 161%;
    background-position-y: 4%;
  }

  @include sm {
    background-image: url('/img/backgrounds/projects-mobile.svg');
    background-size: 171%;
    background-position-y: 3%;
  }

  .page-header {
    @include sm {
      margin-top: 10px;
    }
    &__title {
      margin-top: 35px;
      @include md {
        margin-top: 0;
      }
    }
  }

  .footer {
    background-color: $color-purple;
  }

}
