body.services {
    background-image: url('/img/backgrounds/services.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -90px;
    background-attachment: unset;
    
    @include rwd-max(1180){
      background-size: 120%;
    }

    @include lg {
      background-size: 130%;
    }

    @include md {
      background-size: 120%;
      background-image: url('/img/backgrounds/services-tablet.svg');
    }

    @include sm {
      background-image: url('/img/backgrounds/services-mobile.svg');
      background-size: 140%;
      background-position-y: 0px;
    }

     
    .page-header {
      margin-bottom: 10%;
      @include sm {
        margin-top: 10px;
      }
      &__title {
        margin-top: 0;
        padding-right: 18%;
        @include rwd-max(1180){
          font-size: $font-size-header-title-xl;
          line-height: $line-height-header-title-xl;
        }
        @include md {
          padding-right: 0;
        }

        @include sm {
          margin-top:10px;
        }

      }
    }

    .services-bottom {
      margin-top: 14%;
      @include md {
        margin-top: 25%;
      }
      @include sm {
        margin-top: 8%;
      }
    }

    .bottom-block {
      &__wrapper {
        background-color: $color-purple;
        @include md {
          background-color: $color-pink;
        }
      }

      &__desc {
        a {
          text-decoration: none;
        }
      }

      &__image object {
        top: -20px;
        
        @include md {
          max-width: 100px;
          top: 20px;
          @include transform (translate(70%, -30%));
        }
      }
      
    }

    @include sm {
      .image--absolute {
        position: relative;
        height: 1px;
        img {
          position: absolute;
          left: 0;
          width: 150%;
          margin-top: -65%;
          z-index: -1;
        }
      }
    }

    .footer {
      background-color: $color-purple;
    }
  }

