// Website Helpers

// Colours

.background {
  &--pink {
    background-color: $color-pink;
  }
  &--purple {
    background-color: $color-purple;
  }

  &--white {
    background-color: $color-white;
  }

  &--blue {
    background-color: $color-blue;
  }

  &--transparent {
    background-color: transparent;
  }

  &--absolute {
    position: absolute;
  }
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.top-10 {
  top: -10%;
}

.top-0 {
  top: 0;
}

.bottom-20 {
  bottom: -20%;
}

.front-z {
  z-index: 10;
}

.back-z {
  z-index: 0;
}

.minus-z {
  z-index: -1;
}

.padding-0 {
  padding:0;
}

.margin-0 {
  margin:0;
}

.full {
  width: 100%;
}

.h-400 {
  height: 400px;
}

.padding-sm {
  @include sm {
    &.bottom-20 {
      padding-bottom: 20px;
    }
    &.left-35 {
      padding-left: 35px;
    }

    &.right-35 {
      padding-right: 35px;
    }
  }
  
}

// Mobile vs Desktop

.show--sm, .show-sm {
  display: none;

  @include sm {
    display: block;
  }
}

.show-md {
  @include md {
    display: block;
  }
}

.show-lg {
  @include lg {
    display: block;
  }
}

.hide-lg {
  display: none;
  @include md {
    display: block;
  }
  @include sm {
    display: block;
  }
}

.hide-md {
  @include md {
    display: none;
  }
}

.hide-sm {
  @include sm {
    display: none;
  }
}
