// Website Mixins

// Breakpoints

@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 1600px) { @content ; }
  }
   @else if $point == laptop {
     @media (max-width: 1336px) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 1024) { @content ; }
  }
   @else if $point == phablet {
     @media (max-width: 880px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 640px)  { @content ; }

  }
}

// Centering

@mixin centerer-v {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@mixin centerer-h {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// Push auto

@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}

// REM size with pixel fallback

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// Animations and Keyframes

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

// Transitions

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// Transform

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

// Rotate

@mixin rotate($degrees) {
   -webkit-transform: rotate($degrees);
   -moz-transform: rotate($degrees);
   -ms-transform: rotate($degrees);
   -o-transform: rotate($degrees);
   transform: rotate($degrees);
}

// Box Shadows

@mixin box-shadow($top, $left, $blur, $radius, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $radius $color;
    -moz-box-shadow:inset $top $left $blur $radius $color;
    box-shadow:inset $top $left $blur $radius $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $radius $color;
    -moz-box-shadow: $top $left $blur $radius $color;
    box-shadow: $top $left $blur $radius $color;
  }
}

// Placeholders 

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
      color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $color;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $color;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $color;
  }
}

// Crossbrowser Opacity

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// Breakpoints 

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
      @content;
  }
}

// Extra large devices
@mixin xxl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}


// Custom devices
@mixin rwd-min($screen) {
  @media (min-width: $screen+'px') {
      @content;
  }
}

@mixin rwd-max($screen) {
  @media (max-width: $screen+'px') {
      @content;
  }
}