// Website Variables and Colours

// Typography

// Font Family
$font-heading: "cambon_testregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-body-regular: "toucheregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-body-bold: "touchesemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font Weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Font Sizes
$font-size-nav: 15px;
$font-size-lang: 15px;
$font-size-cta: 15px;

// Header title
$font-size-header-title-sm: 33px;
$font-size-header-title-md: 36px;
$font-size-header-title-lg: 40px;
$font-size-header-title-xl: 48px;

$line-height-header-title-sm: 38px;
$line-height-header-title-md: 48px;
$line-height-header-title-lg: 55px;
$line-height-header-title-xl: 60px;

// Header Subheading

$font-size-header-subheading-sm: 23px;
$font-size-header-subheading-md: 26px;
$font-size-header-subheading-lg: 30px;
$font-size-header-subheading-xl: 33px;

$line-height-header-subheading-sm: 30px;
$line-height-header-subheading-md: 33px;
$line-height-header-subheading-lg: 38px;
$line-height-header-subheading-xl: 42px;

// Heading

$font-size-heading-sm: 33px;
$font-size-heading-md: 33px;
$font-size-heading-lg: 50px;

$line-height-heading-sm: 36px;
$line-height-heading-md: 36px;
$line-height-heading-lg: 36px;

// Project Title

$font-size-project-title-sm: 25px;
$font-size-project-title-md: 30px;
$font-size-project-title-lg: 33px;

$line-height-project-title-sm: 30px;
$line-height-project-title-md: 36px;
$line-height-project-title-lg: 36px;

// Service Title

$font-size-service-title-sm: 25px;
$font-size-service-title-md: 30px;
$font-size-service-title-lg: 33px;

$line-height-service-title-sm: 30px;
$line-height-service-title-md: 36px;
$line-height-service-title-lg: 36px;

// Testimonials

$font-size-testimonial-sm: 23px;
$font-size-testimonial-md: 38px;

$line-height-testimonial-sm: 32px;
$line-height-testimonial-md: 46px;

// Bottom Block

$font-size-bottom-block-sm: 27px;
$font-size-bottom-block-md: 29px;
//$font-size-bottom-block-lg: 29px;
//$font-size-bottom-block-xl: 31px;

$line-height-bottom-block-sm: 34px;
$line-height-bottom-block-md: 38px;
//$line-height-bottom-block-lg: 34px;
//$line-height-bottom-block-xl: 34px;



// Colours

$color-nav: #0a3d5f;
$color-blue: #0a3d5f;
$color-text: #0a3d5f;
$color-pink: #f5dcd8;
$color-purple: #d5b9cf;
$color-red: #ee5b56;
$color-white: #ffffff;

// Paddings

$padding-sm: 35px;
$padding-md: 35px;
$padding-sm: 35px;
$padding-sm: 35px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets (landscape view)
$screen-xl-max: 1024px;

// Large desktops
$screen-xl-min: 1367px;
