
/* Project Blocks */


	#accelya {
	    margin-top: 2%;
	    @include xl {
	        margin-top: 10%;
	    }
	    @include lg {
	        margin-top: 6%;
	        margin-bottom: 6%;
	    }

	    @include md {
	        margin-top:6%;
	    }

	    .project__slide {
	        background-color: $color-blue;
	        padding: 0;
	    }
	}


/* Case Study */

	body.case-study {
		&.accelya {

			.page-header {
				&__image {
					margin-left: 0;
					width: 72%;

					@include md {
						width: 100%;
					}
				}

				&__brief {
					@include sm {
						padding-bottom: 0;
					}
				}

				.brief__desc {
					@include sm {
						margin-bottom: 0;
					}
				}
			}

			.case-study {

				&__image {
					padding-bottom: 0;
				}

				&__video {

					@include sm {
						padding-top: 6%;
						padding-bottom: 6%;
					}

					&#accelya-motion {
						@include sm {
							padding-top: 14%;
							padding-bottom: 0;
						}
					}

					&--full {
						@include sm {
							padding-top: 10%;
							padding-bottom: 14%;
						}
					}

					&--macbook {
						padding: 6% 12% 9% 12%;
					}

					&--tablet {
						padding: 6% 12% 9% 12%;
					}
				}

				&__images {
					padding: 10% 20% 20% 20%;

					@include sm {
						padding: 20% 10% 20% 10%;
					}

					.image--left {
						width: 60%;

						@include sm {
							width: 50%;
						}
					}

					.image--right {
						position: absolute;
						width: 45%;
						bottom: 18%;
						left: 40%;

						@include sm {
							width: 50%;
						}
					}
				}
			}
		}
	}

