
/* Animations */

	.home-projects__item {
		&.home-project-catalana{
			transition: transform 0.95s cubic-bezier(.165,.84,.44,1),opacity 0.1s cubic-bezier(.165,.84,.44,1);
			transition-delay: 0.55s;
			&.visible {
				transform: translateZ(0);
			}


	    	@include sm {
			    background-size: 70%;
			    // background-position: bottom -10% right;
	    	}
	    	@include smxs {
			    background-size: 85%;
			    // background-position: bottom -10% right;
	    	}
	    	@include xs {
			    background-size: 100%;
	    		// background-position: bottom -10px center;
	    	}

		}
	}

/* Project Blocks */


	#catalana {
	    margin: 5% 0 4% 0;
	    @include lg {
	        margin-top: 8%;
	        margin-bottom: 6%;
	    }

	    @include md {
	        margin-top:6%;
	    }
	}


/* Case Study */


	body.case-study {

		&.catalana{
			background-position-y: 0;

			.page-header {

				background-image: url(/wp-content/themes/t2m/assets/images/case-studies/simon-coll/background-top.svg);
			    background-repeat: no-repeat;
			    background-size: 101%;
			    background-attachment: unset;

			    @include md {
					background-image: none;
			    }

				&__image {
					margin-left: -23%;
					width: 70%;

					@include xl {
						width: 75%;
					}

					@include md {
						margin-left: 0;
						width: 100%;
					}
				}

				&__title{
					width:40%;
				}
			}

			.case-study {
				&__block {
					padding: 8% 10% 6% 10%;
					@include sm {
						padding-top: 8%;
					}
				}

				&__images {
					&--two {
						position: relative;
						padding-bottom: 0%;
						padding-top: 8%;

						@include md {
							padding: 0 8% 8% 8%;
						}

						img {
							width: 46%;

							@include md {
								width: 100%;
							}
						}

						&-two {
							img {
								&:first-of-type {
									@include sm {
										margin-bottom: 0;
									}
									margin-bottom: 8%;
								}
							}
						}
					}
				}

				&__image {
					//margin-bottom: 4%;
					&--left {
						padding-top: 30%;
						align-self: flex-end;
						@include md {
							padding-top: 5%;
						}
					}
					&--right {
						padding-bottom: 30%;
						align-self: flex-start;

						@include md {
							padding-bottom: 8%;
							margin-top: 8%;
						}

						@include sm {
							margin-top: 0%;
						}
					}
				}

				&__video {
					//padding-top: 20%;
					@include md {
						padding-top: 14%;
						padding-bottom: 4%;
					}

					&--macbook {

						@include md {
							padding: 6% 12%;
						}
						// background-image: url('/wp-content/themes/t2m/assets/images/case-studies/catalana/macbook.svg');
						background-image: url('/wp-content/themes/t2m/assets/images/case-studies/catalana/macbook-blue.svg');

						&.catalana-video-2{
							// background-image: url('/wp-content/themes/t2m/assets/images/case-studies/catalana/macbook.svg');
							// margin-top:8%;
						}
					}

					&#catalana-occidente-videos {
						padding-top: 8%;
						padding-bottom: 8%;


						&.catalana-occidente-videos-2{
							padding-top: 6%;
							padding-bottom: 6%;
						}

						@include md {
							padding-top: 0;

							&.catalana-occidente-videos-2{
								padding-bottom: 0;
							}

						}

						@include sm {

							padding-left:20px;
							padding-right:20px;

						}

						.background--absolute {
							margin-bottom: -120px;
							@include md {
								margin-bottom: -40px;
							}
						}

					}
				}
			}

			.case-study-cta {
				background-color: $color-white;
				@include md {
					margin-top: 8%;
				}
			}
		}
	}