


/* Project Blocks */


	#chocolate-amatller {
	    margin-top:50px;
	    margin-bottom:3%;

	    @include lg {
	        margin-bottom: 6%;
	    }

	    @include md {
	        margin-top: 60px;
	    }

	    @include sm {
	        margin-top: 50px;
	        margin-bottom: 40px;
	    }
	}


/* Case Study */


	body.case-study {

		&.chocolate-amatller
		{
			background-image: url('/wp-content/themes/t2m/assets/images/case-studies/amatller/background-top.svg');

			@include sm {
				background-image: url('/wp-content/themes/t2m/assets/images/case-studies/amatller/background-mobile.svg');
			}

			.page-header
			{
				&__title
				{
					@include sm {
						padding-right: 80px;
					}
					> br {
						@include md {
							display: none;
						}
					}
				}
			}

			.case-study
			{
				&__block{
					padding: 10% 12% 0% 12%;
					margin-bottom: 10%;

					&--first {
						padding-left: 16%;
						padding-right: 16%;
						margin-bottom: 6%;
					}

					&--second {
						padding-top:6%;
					}

					&--fourth {
						margin-bottom:5%;
					}

					&--edge {
						padding-top: 6%;
						padding-left: 6%;
						padding-right: 6%;
					}
				}

				&__video {
					padding-left: 12%;
					padding-right: 12%;
					margin-bottom: 0;
					.video__background {
						padding-top: 67.5%;
					}
				}

				&__images {
					margin-bottom: 0;

					&--three {
						@include sm {
							padding-top: 0;
						}

						img{
						// padding-bottom:0px;
						}
					}
				}
			}
		}
	}
