
/* Project Blocks */


	#display-ads {
	    margin-top: 4%;
	    @include lg {
	        margin-top: 6%;
	        margin-bottom: 6%;
	    }

	    @include md {
	        margin-top:6%;
	    }

	    @include sm {
	        margin-bottom: 40px;
	    }

	    .project__slide {
	        border: 20px solid $color-white;
	        @include box-shadow(4px, 4px, 8px, -4px, rgba(51,51,51,0.5));
		    background: $color-white;
	        border-left: 1px solid #f0f0f0;
		    padding-left: 20px;
		    border-top: 1px solid #f0f0f0;
		    padding-top: 20px;

	        @include md {
	            border-width: 10px;
	            border-left: 1px solid #f0f0f0;
			    padding-left: 10px;
			    border-top: 1px solid #f0f0f0;
			    padding-top: 10px;
	        }
		}
	}



/* Case Study */

	body.case-study {
		background-image: url('/wp-content/themes/t2m/assets/images/case-studies/display-ads/background-top.svg');

		@include sm {
			background-image: url('/wp-content/themes/t2m/assets/images/case-studies/display-ads/background-mobile.svg');
		}

		&.display-ads{
			background-position-y: 0;

			@include sm {
				background-position-y: 10%;
				background-size:160%;
			}

			@include xs {
				background-position-y: 12%;
				background-size:180%;
			}

			.page-header {

				padding-bottom:180px;

				@include md {
					padding-bottom:80px;
				}

				@include sm {
					padding-bottom:0px;
				}

				&__image {
					margin-left: -23%;
					width: 70%;

					@include xl {
						// width: 75%;
					}

					@include md {
						margin-left: 0;
						width: 100%;
					}
				}

				&__title{
					width:40%;
					margin-top:10%;

					@include md {
						width:80%;
					}
				}

				&__brief{
					background:none;
				}
			}

			.case-study {
				&__block {
					padding: 7% 10% 6% 10%;
					@include sm {
						padding-top: 8%;
					}
				}

				&__images {
					&--two {
						position: relative;

						@include md {
							padding: 0%;
						}

						&-two {
						}
					}
				}


			}

			.case-study-cta {
				background-color: $color-white;
				@include md {
					margin-top: 8%;
				}
			}


			.campaign{
				position: relative;
				width:100%;
				padding-top:140px;
				padding-bottom:140px;
				padding-left:8%;

				@include md {
					padding:40px 6% 40px 6%;
				}

				.campaign-specs{
					float:left;
					padding-bottom: 0;
					width: 25%;
					padding-left: 4%;
				    padding-right: 4%;
					position: relative;
				    z-index:2;

				    @include xl {
						//width: 33.33%;
						padding-left: 2%;
				    	padding-right: 2%;
					}

					@include md {
						width: 100%!important;
						padding-left:0%;
						padding-right:0%;
					}

					div{margin-bottom:25px;}

					.campaign-img{
						width: 100%;
						img, video{padding:0px; width:100%;}
					}
				}

				.col{
					z-index: 2; position: relative;
				}

				.campaign-img{
					float: left;
					text-align:center;
					width: 30%;
					vertical-align:top;
					padding:0 2%;

					position: relative;
				    z-index:1;

					img, video{margin: 0 auto; padding:0; vertical-align:top; width:auto; display:block; max-width:100%; }

				    @include xl {
						width: 35%;
						img, video{padding:0 10%;}
				    }

					@include md {
						width: 100%!important;
						padding:0%!important;
						margin:20px 0 0 0!important;

						img, video{width:auto!important; padding:0;}
					}


				}

				&.b1{
					.campaign-specs{
						float:right;
						margin-right:5%;
						padding-left: 4%;
					    padding-right: 8%;

					    @include xl {
							width: 30%;
					    	padding-right: 4%;
					    	margin-right:0;
						}

						@include md {
							width:100%;
							float:left;
						}
					}

					.campaign-img{
						float:right;
						position:relative;
						//width:33.33%;

						&.campaign-img1{margin-top:-40px;}

					    @include xl {
							width: 35%;
					    }

						@include md {
							img{max-width:200px;}
							width:100%;
							float:left;
						}

						&.campaign-img2{

							@include md {
								margin-top:40px!important;
							}
						}
					}

					@include md {
						.background--absolute{min-height:800px;}
					}

					.mobile-mask-container{
						margin:0 auto;
						width:318px;
						max-width:100%;
						display:block;
						text-align: center;
						position: relative;

						@include md {
							max-width:200px;
						}

						.mobile-mask{
							width:318px;
							max-width:100%;
							position:absolute;
							z-index:1;
							top:0px;
							left:50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%);

							@include md {
								max-width:200px;
							}

						}

						.mobile-mask-video-container{
							padding:14.5% 4.00% 3.343% 3.57%;

							@include xl {
								padding-top:11.46%;
							}

							@include md {
								padding:12.5% 3.5% 3% 3.5%;
							}

						}
					}
				}

				&.b2{
					padding-top:180px;
					background:#d5b9cf;

					@include md {
						padding-top:80px;
					}

					@include sm {
						padding-top:40px;
					}

					.campaign-specs{
						width:20%; margin-left:10%; padding-left:2%;

						@include max-xxl{
							// width:30%;
							margin-left:0;
						}

						@include xxl {
							// padding-left:6%;
						}
						@include xl {
							padding-left:0%;
							margin-left:4%;
							margin-left:0;
							padding-right:4%;
						}

					}


					.campaign-img{
						float:right;
						&.campaign-img1{
							margin-right:10%; margin-top:-40px;
							@include md {
								margin-top:60px;
								margin-right:0;
							}
						}

						@include md {
							img{max-width:200px;}
						}


					}

					.campaign-img2, .campaign-img3{

						@include md {margin-top:40px!important;}
					}

					.b2-i3{
						margin-top:50px;

						@include xxl {
							margin-top:60px;
						}
						@include xl {
							margin-top:40px;
						}
						@include md {
							margin-top:40px;
							max-width:200px;
						}

					}


					@include md {
						float:left;
					}



					.mobile-mask-container{
						margin:0 auto;
						width:318px;
						max-width:100%;
						display:block;
						text-align: center;
						position: relative;

						@include md {
							max-width:200px;
						}

						.mobile-mask{
							width:318px;
							max-width:100%;
							position:absolute;
							z-index:1;
							top:0px;
							left:50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%);

							@include md {
								max-width:200px;
							}

						}

						.mobile-mask-video-container{
							padding:14.5% 4.00% 3.343% 3.57%;

							@include xl {
								padding-top:11.46%;
							}

							@include md {
								padding:12.5% 3.5% 3% 3.5%;
							}

						}
					}
				}

				&.b3{

					.campaign-specs{ width:20%; margin-left:10%;
						padding-left:2%;

						@include xxl {
							padding-left:6%;
						}
						@include xl {
							padding-left:2%;
							margin-left:0;
						}
					}

					.campaign-img{
						padding:0px;

						img, video{padding:0px;}

						&.campaign-img1{
							width:70%;
							padding-right:12%;
							margin-bottom:100px;

							@include xl {
								padding-left:4%;
								margin-bottom:40px;
								width:80%;
							}
							@include md {
								margin-top:40px!important;
							}
						}

						&.campaign-img2{
							width:60%;
							padding-left:12%;

							@include xl {padding-left:2%;}

							@include md {
								padding:0%;
								width:100%;
								margin:0px;
								margin-top:40px!important;
							}
						}

						@include md {
							img, video{
								max-width:300px;
							}
						}
					}

					.campaign-text{
						position: relative;
						z-index:1;
						width:40%;
						display:inline-block;
						padding:0 12% 0 4%;

						@include md {
							width:100%;
							padding:0%;
							margin:0px;
						}
					}

					@include md {
					}
				}

				&.b4{
					.campaign-specs{
						float:right;
						width: 24%;
						padding-left: 4%;
					    padding-right: 8%;

					    @include xxl {
							padding-left: 2%;
					    	padding-right: 8%;
							width: 30%;
						}

					    @include xl {
							width: 30%;
							padding-left: 2%;
					    	padding-right: 8%;
						}

						@include md {
							width:100%;
							float:left;
						}
					}

					.campaign-img{
						float:left;
						width: 76%;
						padding-left:12%;

					    @include xxl {
							padding-left:12%;
							width: 70%;
					    }

					    @include xl {
							width: 70%;
							padding-left:2%;
					    }

						@include md {
							width:100%;
							float:left;

							img, video{max-width:190px;}
						}

						img, video{padding:0px;}

						.b4-i3{
							margin-top:50px;

							@include xxl {
								margin-top:60px;
							}
							@include xl {
								margin-top:40px;
							}
							@include md {
								margin-top:40px!important;
							}

						}

					}
				}

				&.b5{
					.campaign-specs{
						width:30%;
						// padding-right:42%;
						padding-left:6%;
						margin-left:6%;

						@include xxl {
							width:32%;
							margin-left:6%;
							padding-right:2%;
							padding-left:6%;
						}
						@include xl {
							width:38%;
							margin-left:0;
							padding-left:2%;
							padding-right:2%;
						}

						.campaign-img{
							padding:0;
							margin:10px 0 0;
							width:100%;

							img, video{margin:0px; padding:0;
							width:auto;}
						}
					}


					.campaign-img{
						width:30%;
						img, video{padding:0px 4%;}

						@include xxl {
							width:27%;
						}
						@include xl {
							width:31%;
							img, video{padding:0px 2%;}

						}
						@include md {
							width:100%;
						}

						&.campaign-img3{

							@include md {
								margin-top:40px!important
							}
						}

						&.campaign-img4{
							width:27%;
							margin-top:40px;
							margin-right:3%;

							@include xxl {
								width:25%;
								margin-right:0%;
							}

							@include xl {
								width:27%;
							}

							@include md {
								margin-top:40px!important
							}
						}

						@include md {
							img, video{max-width:200px;}

							&.campaign-img2{margin-top:20px!important;}

							&.campaign-img4 img, &.campaign-img4 video{max-width:300px;}
						}

					}

				}

				&.b1-facebook{
					background:#FFF;
					padding-top:140px;

					.campaign-specs{ width:20%; padding-right:2%; padding-left:2%;}

					.campaign-img{
						// width: 30%;
					}

					.campaign-img.campaign-img2 video, .campaign-img.campaign-img2 img{
						width:300px; max-width:100%;
					}


					.campaign-img.campaign-img1{
						margin-top:0px;
					}

					.campaign-img.campaign-img2{
						// width: 30%;
					}

					.campaign-img .b2-i3 {
						margin-top:50px;
					}

					@include xl {
						padding-top:100px;

						.campaign-img.campaign-img1{margin-right:4%;}

						// .campaign-specs{ width:28%; padding-right:0%; padding-left:4%;}
						.campaign-img{
							// width: 30%;

							// img{padding:0 7%;}
						}
					}

					@include lg {
						.campaign-img.campaign-img1{
							margin-top:20px;
						}
					}

					@include md {
						background-color: $color-pink;

						padding-top:0px;

						.campaign-img{
							// img{padding:0px;}
						}

						.campaign-img.campaign-img1{
							margin-top:0px;
						}

						.campaign-img.campaign-img2 video, .campaign-img.campaign-img2 img{
							width:200px!important;
						}

						.campaign-img .b2-i3 {
							margin-top:40px;
						}


					}
				}

				@include md {
					&.b2-gohenry{
						.campaign-img .b2-i3 {
							margin-top:40px!important;
						}
					}
				}

				.show-desktop{
					display:block;
					@include md {display:none!important;}
				}

				.show-mobile{
					display:none!important;
					@include md {display:block!important;}
				}



				&.b6{

					img, video{max-width:100%; }

					.campaign-specs{
							width:36%; margin-left:6%; padding-left:2%;
					}

					.col-2{width:300px; display:inline-block;}
					.col-3{width:300px; display:inline-block; margin-left:50px;
						// video{width:100%; max-width:300px;}
					}
					.col-4{width:100%; display:block; margin-top:40px; padding-left:42%;
						.media-container{width:650px;}
					}

					@include max-xxl{
						.col-2{width:27%; max-width:300px; display:inline-block;
							.media-container{text-align: left;}
						}
						.col-3{width:27%; max-width: 300px; display:inline-block; margin-left:4%;
							.media-container{text-align: right;}
							// video{width:100%; max-width:300px;}
						}
						.col-4{
							width:100%; display:block; margin-top:3%; padding-left:0%;
							.media-container{width:58%;max-width:650px; margin-left:36%; text-align: right;}
						}
					}

					@include xl {
						// .col-4{padding-left:20%;}
					}

					@include lg {

						// .col-2{width:250px; display:inline-block;}
						// .col-3{width:250px; display:inline-block; margin-left:42px;}
						.col-4{
							// padding-left:20%;
							// .media-container{width:542px;}
						}
					}

					@include md {

						img, video{max-width:100%; width:auto;}

						.campaign-specs{margin-bottom:20px; display:block;}

						.col-2{width:46%; display:inline-block;
							.media-container{text-align: center;}
						}
						.col-3{width:46%; display:inline-block; margin-left:8%;
						}
						.col-4{padding-left:0%; margin-top:6%;
							.media-container{width:100%;margin-left:0%;}
						}
					}

					@include sm {

						.campaign-specs{margin-bottom:20px; display:block;}

						.col-2{width:100%; max-width:100%; text-align:center;
							.media-container{text-align: center;}
						}
						.col-3{width:100%; max-width:100%; text-align:center; margin-left:0%; margin-top:10%;
							.media-container{text-align: center;}
						}
						.col-4{padding-left:0%; margin-top:10%;}
					}
				}


				&.b7{

					.bg-image{
						z-index:1;
					}

					display:flex; align-items:flex-start; justify-content:center;



					.campaign-specs{
						z-index:2;
						width:30%;
						margin:0; padding:0;

					}

					.col-imgs{
						z-index:2;
						width:70%;
						display: flex;
						align-items:stretch;
						justify-content:flex-end;
						gap:50px;
						padding-right:11%;



						img, video{
							margin:0 auto;
							display:block;
						}

						.col-imgs-2{
							display: flex; flex-direction:column; justify-content:space-between; align-items:center;
						}
					}

					.campaign-specs{
						z-index:2;
						width:20%;
						margin:0 10% 0 0; padding:0;

					}


					@include max-xxl{
					}

					@include xl {
					}

					@include lg {
					}

					@include md {

						flex-wrap:wrap;

						.campaign-specs{
							width:100%;
							order:1;
							margin-bottom:50px;

						}

						.col-imgs{
							width:100%;
							order:2;
							padding:0; justify-content:center;
							gap:6%;
						}

					}

					@include sm {

						.campaign-specs{
							margin-bottom:40px;
						}

						.col-imgs{
							flex-direction:column;
							gap:50px;

							.col-imgs-1{display:flex; justify-content:center;}

							.col-imgs-2{
								gap:50px;
								align-items:center;
							}
						}
					}
				}

			}

			.display-ads-testimonial-spacer{
				display:block; width:100%; height:0px; padding-top:5%;

				@include md {
			    	padding-top: 8%;
			    }

			}
		}
	}