

/* Home Projects */

.home-projects__item {
	&.home-project-honda {
    	@include sm {
    		background-position: bottom -100px center;
    	}
    	@include smxs {
    		background-position: bottom -50px center;
    	}
    	@include xs {
    		background-position: bottom -10px center;
    	}
	}
}


/* Project Blocks */



#honda {
    margin-top: 2%;
    @include lg {
        margin-top: 6%;
        margin-bottom: 6%;
    }
    @include md {
        margin-top:6%;
    }
    @include sm {
        margin-bottom: 40px;
    }
    .slick-dots {
        li {
            color: $color-red;
            &.slick-active {
                color: $color-blue;
            }
            &:hover {
              color: $color-blue;
            }
        }
    }
}

/* Case Study */

	body.case-study {

		&.honda {
			.page-header {
				&__image {
					margin-left: -12.5%;

					@include md {
						margin-left: 0;
					}
				}
			}

			.case-study {
				&__image {
					padding:8% 12% 2% 12%;

					@include md {
						padding-bottom:4%;
					}

					@include sm {
						padding-top: 12%;
						padding-left: 35px;
						padding-right: 35px;
					}

					&--left {
						padding-top: 0%;
						align-self: flex-end;
					}
					&--right {
						padding-bottom: 15%;
						align-self: flex-start;
						@include sm {
							padding-bottom: 0;
						}
					}
				}
				&__images {
					padding: 12% 6% 15% 6%;
					position: relative;
					margin-top: -1px;

					@include sm {
						padding-left: 35px;
						padding-right: 35px;
					}
					&--two {
						img {

							&.background--absolute {top:0px;}

							width: 48%;

							@include sm {
								width: 100%;
							}
						}
					}
				}
				&__video {
					padding-left: 8%;
					padding-right: 8%;

					@include sm {
						padding-left: 20px;
						padding-right: 20px;
						margin-top: -1px;
					}
				}

				&__lateral-images{
					img{
						width: 80%;

						&.right{
							margin:60px 0px 0 auto;
							@include md {
								margin-top:8%;
							}
						}

						@include sm {
					        width:100%;
					    }

					}
				}
			}
		}
	}