

/* Home Projects */

	.home-projects__item {
		&.home-project-meta {
	    	@include sm {
	    		background-size: 100% auto;
	    	}
		}
	}

/* Project Blocks */


	#meta {
	    margin-top: 4%;
	    @include lg {
	        margin-top: 6%;
	        margin-bottom: 6%;
	    }

	    @include md {
	        margin-top:6%;
	    }

	    @include sm {
	        margin-bottom: 40px;
	    }

	    .project__slider {
	    	// max-width:868px;

		    .project__slide {
		        border: 20px solid $color-white;
		    	// video{
	  				// max-width:828px;
		    	// }
		        @include box-shadow(4px, 4px, 8px, -4px, rgba(51,51,51,0.5));
			    background: $color-white;
		        border-left: 1px solid #f0f0f0;
			    padding-left: 20px;
			    border-top: 1px solid #f0f0f0;
			    padding-top: 20px;

		        @include md {
		            border-width: 10px;
		            border-left: 1px solid #f0f0f0;
				    padding-left: 10px;
				    border-top: 1px solid #f0f0f0;
				    padding-top: 10px;
		        }
			}
		}
	}



/* Case Study */

	body.case-study.meta {

		.show-desktop{
			display:block;
			@include md {display:none!important;}
		}

		.show-mobile{
			display:none!important;
			@include md {display:block!important;}
		}

		background-color: $color-purple;
		background-image: url('/wp-content/themes/t2m/assets/images/case-studies/meta/background-top.svg');
	    background-position: center top;
	    background-size: 100% auto;
		background-position-y: 0%;

		@include md {
			background-image: url('/wp-content/themes/t2m/assets/images/case-studies/meta/background-mobile.svg');
		    background-position: center top;
		    background-size: 100% auto;
		    background-position-y: 0%;
		}

		@include xs {
			// background-position-y: 12%;
			// background-size:180%;
		}

		.page-header {

			&__image {
				margin-left: -28%;
				width: 70%;

				@include xl {
					// width: 75%;
				}

				@include md {
					margin-left: 0;
					width: 100%;
				}
			}

			&__title{
				width:40%;
				margin-top:15%;
				margin-left:5%;

				@include md {
					width:80%;
					margin-top: 10%;
					padding-left:35px;
					margin-left:0;
				}
			}

			&__brief{
				background:none;
				p:first-child{margin-top:0px;}
			}

			&__specs{
				width:43%;
				padding-right:0;
				padding-right:0;

				@include sm {
					width:100%;
					padding-right:3%;
				}
			}
		}

		.case-study {
			&__block {
				padding: 7% 10% 6% 10%;
				@include sm {
					padding-top: 8%;
				}
			}

			&__images {
				&--two {
					position: relative;

					@include md {
						padding: 0%;
					}

					&-two {
					}
				}
			}
		}

		.case-study-v2 {

			display: block;

			img{width: auto; max-width:100%;}

			.col{display:inline-block;
				.media-container{
					img{display:inline-block;}
				}
			}

			@include md {
				.row {margin-bottom:30px;
					&.row-1 {
						margin-bottom:45px;
					}
					&.row-3 {
						margin-bottom:20px;
					}
				}
			}

			// B0

				&.b0{
					padding-top:5%;
					padding-bottom:5%;

					.campaign-img{
						width:100%;
						img{width:100%;}
					}

					@include md {
						padding-bottom:10%;
					}
				}

			// B5

				&.b5{
					padding-top:5%;
					padding-bottom:5%;

					.col-1{
						width:25%; margin-left:10%;
						.media-container{margin-top:15%; text-align: center;}
					}
					.col-2{
						width:25%; margin-left:5%;

						.media-container{
							text-align:center;
							padding-top:17px;

							.mobile-mask-container{
								max-width:318px; max-height:655px;
								.mask{
									img{
										&.active-mask{top:-2px;}
									}
								}

								.media-content{
									max-width: 92%; left: 4%; top:10%;
								}
							}
						}
					}
					.col-3{
						width:20%; margin-left:5.5%;
						.media-container-2{margin-top:30%;}
					}

					@include md {
						padding-left:35px;
						padding-right:35px;

						.row-2{
							margin-bottom:30px;
							.media-container{
								max-width:350px; margin:0 auto;

								.mobile-mask-container{
									max-width:220px;
									.mask{
										img{
											&.active-mask{top:-2px;}
										}
									}

									.media-content{
										max-width: 92%; left: 4%; top:10%;
									}
								}
							}
						}

						.row-3{
							display: flex;
							justify-content:space-between;
							gap:45px;
							margin-bottom:0px;

							img{width:200px; display: block; margin:0 auto;}

							.media-container{
								display:inline-block;
								text-align: center;
							}
							.media-container-1{
								flex:1 1 40%;
								text-align: center; margin-top:15px;
								img{
								    // margin-left: 220px;
								}
							}
							.media-container-2{
								flex:1 1 60%;
								img{
									max-width:100%;
									width:270px;
								    // margin-left: -220px;
								    // margin-top: -40px;
								}
							}
						}

						.row-4{
							margin-bottom:40px;

							.media-container{
								text-align:left;
								width:40%; margin-left: 42%;
								img{
									max-width:100%;
								}
							}
						}
					}

					@include sm {
						.row-3{
							// margin-bottom: 40px;
						}
						.row-4{

							.media-container{
								text-align:center;
							}

						}
					}

					@include xs {
						.row-4{
							// img{max-width:145px;}


						}
					}
				}

			// B1

				&.b1{
					padding-top:5%;
					padding-bottom:5%;

					.col-1{
						width:20%; margin-left:10%;
						.media-container{margin-top:45%;}
					}
					.col-2{
						width:30%; margin-left:5%;

						.media-container{
							text-align:center;
							padding-top:17px;

							.mobile-mask-container{
								max-width:400px; max-height:639px;
								.media-content{
									// padding:18% 6% 0 6%;
									max-width: 88%; left: 6%; top:12%;
								}
							}
						}
					}
					.col-3{
						width:20%; margin-left:5.5%;
						.media-container-2{margin-top:25%;}
					}

					@include md {
						padding-left:35px;
						padding-right:35px;

						.row-2{
							.media-container{
								max-width:350px; margin:0 auto;
								.mobile-mask-container{
									.media-content{ max-width: 88%; left: 6%; top:12%; }
								}
							}
						}

						.row-4{
							margin-bottom:40px;

							img{width:200px;}

							.media-container-1{
								img{
								    margin-left: 220px;
								}
							}
							.media-container-2{
								img{
								    margin-left: -220px;
								    margin-top: -40px;
								}
							}
						}
					}

					@include sm {
						.row-4{
							img{max-width:160px;}

							.media-container-1{
								img{
								    margin-left: 180px;
								}
							}
							.media-container-2{
								img{
								    margin-left: -180px;
								}
							}
						}
					}

					@include xs {
						.row-4{
							img{max-width:145px;}

							.media-container-1{
								img{
								    margin-left: 155px;
								}
							}
							.media-container-2{
								img{
								    margin-left: -155px;
								}
							}
						}
					}
				}

			// B2

				&.b2{

					padding-top:5%;
					padding-bottom:5%;

					.col-1{
						width:20%; margin-left:10%;
						.media-container{margin-top:50px;}
					}
					.col-2{
						width:28%; margin-left:5%;

						.media-container{
						// 	text-align:center;
							padding-top:100px;

							.mobile-mask-container{
								max-width:318px; max-height:655px;
								.mask{
									img{
										&.active-mask{top:-2px;}
									}
								}

								.media-content{
									max-width: 92%; left: 4%; top:10%;
								}
							}
						}
					}
					.col-3{
						width:28%; margin-left:2%;
						.mobile-mask-container{
							max-width:318px; max-height:655px;
							.media-content{
								max-width: 92%; left: 4%; top:10%;

								video{
									max-width: calc(100% + 2px);
								    width: calc(100% + 2px);
								    margin-left: -1px;
								}
							}
						}
					}

					@include md {

						padding-left:35px;
						padding-right:35px;

						.row-2{
							margin-bottom: 40px;

							.media-container{
								max-width:220px; margin:0 auto;
								.mobile-mask-container{
									max-width:220px;
									.mask{
										img{
											&.active-mask{top:-2px;}
										}
									}

									.media-content{
										max-width: 92%; left: 4%; top:10%;
									}
								}
							}
						}

						.row-3{
							display: flex; align-items: flex-start; margin-bottom:0px;

							img{max-width:65%;}
							video{width:50%;}

							.media-container{
								width:50%;
								display:inline-block;

								&.media-container-2{
									video{margin-top:50px;}
								}
							}
						}
					}

					@include sm {

						.row-3{
							img{max-width:90%;}
							video{width:85%;}
						}
					// 	.row-2{
					// 		.media-container{
					// 			max-width:220px;
					// 			.mobile-mask-container{
					// 				max-width:220px;
					// 			}
					// 		}
					// 	}
					}
				}

			// B3

				&.b3{

					padding-top:5%;
					padding-bottom:5%;

					.col-1{
						width:20%; margin-left:10%; min-width:300px;
						.media-container{margin-top:100px;}
					}
					.col-2{
						width:24%; margin-left:5%; min-width:300px;

					}
					.col-3{
						width:32%; margin-left:2%;
						.media-container{margin-top:170px;}
					}

					@include max-xxl {
						.col-2{margin-left:3%; }
						.col-3{width:25%; margin-left:4%;}
					}

					@media (max-width: 1100px) {
						.col-3{width:21%;}
					}

					@include xl {
						.col-1{width:40%;}
						.col-2{margin-left:5%; }
						.col-3{width:100%; max-width:100%; margin-left:0;
							.media-container{margin-top:10%;}
						}
					}

					@include lg {
						.col-3{
							.media-container{margin-top:7%;
							}
						}
					}

					@include md {
						padding-left:35px;
						padding-right:35px;

						.col{margin-top:70px;}

						.col-1{
							width:100%; margin-left:0%;
							// .media-container{
							// 	text-align:center;
							// }
						}
						.col-2{margin-left:0%; width:100%; min-width:0;
							.media-container{
								text-align:center;
								padding-left:0%;
							}
						}
						.col-3{
						 	display:block!important;
							width:100%;
							padding-left:0;

							.media-container{
								text-align: center;
								img{width:330px; max-width:100%;}
							}
						}
						.col-4-mobile{
							display:block!important;
							width:100%;
							padding-left:0;
							text-align:center;
							.media-container{
								text-align:center;
								padding-left:0%;
								img{ max-width:220px;}
							}
						}
					}

					@include sm {
						.col-2{
							.media-container{
								text-align:center;
								padding-left:0%;
							}
						}
						.col-4-mobile{
							// max-width:30%;
							// padding-left:0;
						}
						.col-3{
							// max-width:60%;
							// padding-right:0%;
							// .media-container{ text-align: center; margin-top:16%;}
						}
					}
				}

			// B4

				&.b4{

					padding-top:5%;
					padding-bottom:10%;

					.col-1{
						width:25%; margin-left:10%;
						.media-container-1{margin-top:125px;}
						.media-container-2{
							margin-top:80px;
							margin-left:35%;
							img{
								width:auto;
								max-width: none;
							}
						}
					}
					.col-2{
						width:49%; margin-left:4%;
						.media-container-2{margin-top:80px;}

					}

					@include max-xxl {
						.col-1{
							width:20%;
							.media-container-1{margin-top:115px;}
							.media-container-2{
								margin-top:75px;
								margin-left:30%;
								img{
									max-width:350px;
								}
							}
						}
						.col-2{
							width:60%; margin-left:0; text-align:right; padding-right:0%;

							.media-container{
								text-align: right;
								video{max-width:90%;}
							}
							.media-container-2{
								margin-top:75px;
								img{max-width:440px;}
							}

						}
					}

					@media (max-width: 1100px) {
						.col-1{
							.media-container-2{
								margin-top: 60px;
								img{
									max-width:320px;
								}
							}
						}
						.col-2{
							.media-container-2{
								margin-top: 60px;
								img{max-width:400px;}
							}
						}
					}

					@include lg {
						.col-1{
							.media-container-1{margin-top:65px;}
							.media-container-2{
								margin-left:20%;
								// margin-top: 30px;
								img{
									max-width:240px;
								}
							}
						}
						.col-2{
							.media-container-2{
								margin-top: 45px;
								img{max-width:320px;}
							}
						}
					}

					@include md {
						padding-left:35px;
						padding-right:35px;
						padding-bottom:15%;

						h2{
							br{display:none;}
						}

						.col{
							margin-top:50px;
						}
						.col-1{
							width:100%; margin-left:0%; vertical-align:top;
							.media-container-3{
								margin-top:65px;
								video{width:100%;}
							}
							.media-container-1{
								margin-top:12%;
								width:43%;
								display: inline-block;
							}
							.media-container-2{
								margin-top:21%;
								width:52%;
								margin-left:4%;
								display: inline-block;
								vertical-align: top;
								img{max-width:100%;}
							}

						}
						.col-2{
							display: block; width:66%; margin-left:33%; text-align:right; margin-top:20px;
							.media-container-2{ text-align:right; margin-top:0px;
								img{max-width:345px; width:100%;}
							}
						}
					}

					@include sm {
						// background-color:$color-purple!important;
					}
				}



		}

		.case-study-next{background:$color-white!important;}
		.case-study-cta {
			background-color: $color-white!important;
			@include md {
				margin-top: 0%;
				padding-top: 8%;
			}
		}

		.campaign{
			position: relative;
			width:100%;
			padding-top:140px;
			padding-bottom:140px;
			padding-left:8%;

			@include md {
				padding:40px 6% 40px 6%;
			}

			.campaign-specs{
				float:left;
				padding-bottom: 0;
				width: 25%;
				padding-left: 4%;
			    padding-right: 4%;
				position: relative;
			    z-index:1;

			    @include xl {
					//width: 33.33%;
					padding-left: 2%;
			    	padding-right: 2%;
				}

				@include md {
					width: 100%!important;
					padding-left:0%;
					padding-right:0%;
				}

				div{margin-bottom:25px;}

				.campaign-img{
					width: 100%;
					img, video{padding:0px; width:100%;}
				}
			}

			.campaign-img{
				float: left;
				text-align:center;
				width: 30%;
				vertical-align:top;
				padding:0 2%;

				position: relative;
			    z-index:1;

				img, video{margin: 0 auto; padding:0; vertical-align:top; width:auto; display:block; max-width:100%; }

			    @include xl {
					width: 35%;
					img, video{padding:0 10%;}
			    }

				@include md {
					width: 100%!important;
					padding:0%!important;
					margin:20px 0 0 0!important;

					img, video{width:auto!important; padding:0;}
				}
			}
		}

		footer{
			background-color: $color-white;
		}
	}