

/* Home Projects */


/* Project Blocks */

	#motion {
	    margin-top: 2%;
	    @include xl {
	        margin-top: 10%;
	    }
	    @include lg {
	        margin-top: 6%;
	        margin-bottom: 6%;
	    }

	    @include md {
	        margin-top:6%;
	    }

	    .project__slide {
	        background-color: $color-blue;
	        padding: 0;
	    }
	}
