
/* Project Blocks */


	#simon-coll {
	    margin: 4% 0px;
	    @include lg {
	        margin-top: 8%;
	        margin-bottom: 6%;
	    }

	    @include md {
	        margin-top:6%;
	    }

	    @include sm {
	        margin-bottom: 40px;
	    }

	    .project__title {
	        margin-top: -50px;
	        @include lg {
	            margin-top: 0;
	        }
	    }

	    .project__dots--white {
	        .slick-dots {
	            li {
	                @include lg {
	                    color: $color-purple;
	                    &.slick-active {
	                        a {
	                            color: $color-blue;
	                        }
	                    }
	                }


	            }
	        }
	    }
	}