// Footer

.footer {
  border: none;

  @include lg {
    flex-wrap: wrap;
    background-color: transparent;
  }

  &__container {
    display: flex;

    @include lg {
      flex-wrap: wrap;
    }
    
  }
  
  &__wrapper {
    background-color: $color-blue;
    padding: 35px 0 25px 25px;
    width: 90%;

    @include lg {
      width: 100%;
      padding: 20px 25px;
    }

    @include sm {
      padding-top: 35px;
    }

  }
  &__logo {
    position: relative;
    max-width: 170px;
    
    @include lg {
      margin-bottom: 40px;
    }
    @include md {
       max-width: 140px;
       margin-left: -10px;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 8%;
    padding-right: 8%;
    
    @include rwd-max(1140){
      padding-left: 3%;
      margin-top: 3%;
    }
    @include lg {
      padding-left: 25px;
      padding-right: 25px;
    }

    @include md{
      padding-left: 10px;
      padding-right: 10px;
    }

  }

  &__col {
    width: 30%;

    @include lg {
      width: 100%;
    }
    
  }

  &__newsletter {
    width: 40%;
    .footer__subtitle {
      padding-right: 16%;
    }

    @include lg {
      width: 100%;
    }
  }

  &__row {
    margin-bottom: 50px;
    @include lg {
      margin-bottom: 20px;
    }
  }

  &__title {
    color: $color-pink;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 20px;

    @include lg {
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  &__subtitle {
    color: $color-white;
    font-size: 1rem;

    @include rwd-max(1140){
      font-size: 14px;
    }

    @include lg {
      margin-top: 0;
    }
  }



  i {
    &.link--cta {
      &:before {
        color: $color-white;
      }

      &:hover {
        span {
          &:after {
            @include sm {
              width: 0 !important;
            }
          }
        }   
      }
    }
  }

  &__send {
    padding-top: 10px;
    padding-left: 25%;

    @include lg {
      display:none;
    }
    
    img {
      width: 80px;
    }
  }

  .social {
    &__list {
      padding-left: 0;
      @include sm {
        margin-top: 0;
      }
    }

    &__item {
      display: inline;
      margin-right: 20px;
    }

    &__link {
      color: $color-white;
      display: inline-block;

      span {
        &:after {
          display: block;
          content: '';
          border-bottom: solid 1px $color-white;
          width: 0;
          @include transition (width 250ms ease-in-out);
        }
      }

      &:hover {
        span {
          &:after {
            width: 100%;
            @include sm {
              width: 0;
            }
          }
        }
      }
    }
  }

  .button--up {
    width: 10%;
    text-align: center;
    a {
      display: inline-block;
      background-color: $color-white;
      padding: 20px;
      border-radius: 100%;
      text-transform: uppercase;
      font-size: 21px;
      @include rotate(-45deg);
    }
  }

  .footer-link--cta, .link--cta  {
    span {
      display: inline-block;
      color: $color-white;
      cursor: pointer;
      
      &:after {
        display: block;
        content: '';
        border-bottom: solid 1px $color-white;
        width: 0;
        @include transition (width 250ms ease-in-out);
      }
    }

    &:hover {
      span {
        &:after {
          width: 100%;
        }
      }
    }
  }

  .footer-link--cta {
    span {
      @include sm {
        line-height: 12px;
      }

      &:after {
        @include sm {
          width: 100%;
        }
      }
    }
  }

  .footer-link--email {
    span {
      &:after {
        @include sm {
          width: 0 !important;
        }
      }
    }
  }

  .scroll-btn {
    @include lg {
      width: 100%;
      text-align: center;

      padding-top: 80px;
      padding-bottom: 40px;

      background-color: $color-blue;
      color: $color-white;

      span {
        position: relative;
        @include rotate(0deg);
        color: $color-white;
        padding-right: 0;
        &:after {
          position: absolute;
          bottom: 60px;
          margin-left: -25px;

          @include centerer-h;          
          @include rotate(-90deg);

          border-color: $color-white;
        }
      }
    }
  }
}


.copyright {
  display: flex;
  
  &__text {
    color: $color-white;
    font-size: 12px;
    padding-bottom: 10px;
    text-align: left;
    width: 90%;
    padding-left: calc(8% + 10px);
    @include lg {
      width: 100%;
    }
    @include sm {
      padding-left: 25px;
    }
  }
  &__space {
    width: 160px;
    @include lg {
      width: 0;
    }
  }
  
}