// Header Styles

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;

  z-index: 100;
  @include transition(all 0s ease);

  @include md {
    display: block;

    padding: 15px;
  }

}



// Sticky Navigation

body.sticky-nav {
  .nav--sticky {
    top: 0;
  }
  .hamburger {
    top: 10px;
  }
  .nav {
    padding-top: 3px;

    @include sm {
      padding-top: 125px;
    }
  }
}

.nav--sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: -82px;

  @include transition(top .3s ease);

  background-color: $color-pink;

  &-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;

    padding: 15px 25px;
  }

  .logo-small {
    display: block !important;
    width: 55px;
    line-height: 10px;
  }
}


// Logo
.logo {
  max-width: 300px;
  visibility: visible;
  opacity: 1;

  margin-top: -30px;
  margin-left: 0;

  @include md {

    position: relative;
    z-index: 10;

    margin-top: -25px;
  }

  &-image {
    width: 300px;

    @include md {
      width: 250px;
    }
  }

  img {
    width: 100%;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
  }
}

.logo-static {
  @include md {
    display: block;
  }
}

.logo-animated {
  width: 170px;
  margin-top: $padding-md / 1.5;
  @include md {
    display: none;
  }
}

.logo-mobile {
  @include md {
    display: none;
  }
}

// Navigation
nav {
  display: flex;
  justify-content: flex-end;
  width: 45%;

  @include lg {
    width: 55%;
  }

  @include md {
    position: absolute;
    top: -100vh;
    left: 0;

    height: 100vh;
    width: 100%;

    background-image: url('/img/backgrounds/mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;

    @include transition(all 0.35s ease-out);
  }
}

.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;

  @include md {
    width: 100%;
    height: 60vh;

    flex-direction: column;
    justify-content: center;

    padding-left: 45px;
    padding-top: 125px;
  }

  @include sm {
    padding-top: 185px;
  }
}

.nav__item {
  margin-right: 2.5rem;
  @include md {
    width: 100%;
    margin: 15px 0;
    opacity: 0;
    @include transform (translate3d(0, -10vh, 0));

  }

  &--last {
    margin-right: 0;
  }
}

.nav__link {
  color: $color-nav;
  font-size: $font-size-nav;

  @include sm {
    display: inline-block;
  }

  span {
    display: block;
    line-height: 16px;

    @include sm {
      line-height: 26px;
    }
  }

  &:after {
      display: block;
      content: '';
      border-bottom: solid 1px $color-text;
      width: 0;
      @include transition (width 250ms ease-in-out);

      @include sm {
        @include transition (width 100ms ease-in-out);
        border-color: $color-pink;
        display: none;
      }
  }

  @include md {
    font-size: 33px;
    color: $color-pink;
  }

  &:hover {
    text-decoration: none;
    &:after {
      width: 100%;
    }
  }

}

// Language Switcher

.lang-switcher {
  &__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    .icon-arrow-down {
      font-size: 9px;
      margin-left: 0.75rem;
      display: inline-block;
      min-width: 9px;
    }
  }

  &--current {
    line-height: 1rem;
  }
  &__link {
    font-size: $font-size-lang;
    color: $color-nav;
    text-decoration: none;
  }
}

// Menu Navigation

body {
  &.has-nav {
    overflow: hidden;
    nav {
      top: 0;
    }
    .nav {
      &--sticky {
        display: none;
      }

      &__item {
        opacity: 1;
        @include transform (translateZ(0));
        transition: transform 0.91s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.91s ease;
        &:first-of-type {
          transition-delay: .3s;
        }
        &:nth-child(2){
          transition-delay: .4s;
        }
        &:nth-child(3){
          transition-delay: .5s;
        }
        &:nth-child(4){
          transition-delay: .6s;
        }
      }
    }

    .logo-static {
      display: none !important;
    }

    .logo-mobile {
      display: block !important;
    }

    &.sticky-nav {
      overflow: visible;
      header {
        position: fixed;
      }
    }

  }
}


// Navigation State for Pages

.nav__link {
  &--current {
    &:after {
      width: 100%;

      @include sm {
        width: 0;
      }
    }
  }
}
