// Bottom Block

.bottom-block {
  &__wrapper {
    margin-left: 6%;
    padding: 8% 155px;

    @include lg {
      width: 100%;
    }

    @include md {
      padding: 4% 155px;
    }

    @include md {
      width: 100%;
      margin-left: 0;
      padding-left: 35px;
      padding-right: 35px;
    }

    @include sm {
      padding-bottom: 20px;
    }
  }

  &__content {
    background-color: $color-white;
    display: flex;
    position: relative;
    padding: 8% 3% 6% 10%;

    @include md {
      flex-wrap: wrap;
      
      background-color: transparent;

      padding-left: 0;
      padding-right: 0;
    }

    > img {
      position: absolute;
      max-width: 100%;
      top: -70px;
      left: -70px;
      width: 150px;

      @include sm {
        top: -20px;
        left: 0;
        width: 120px;
      }
    }
  }

  &__text {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
    @include md {
      width: 100%;
      order: 2;
    }

    @include sm {
      margin-top: 0px;
    }

  }

  &__desc {
    a {
      font-family: $font-body-bold;
      font-weight: $normal;
      &:hover {
        text-decoration: underline;
      }
    }

    @include sm {
      font-size: 0.95rem;
    }
  }

  &__image {
    position: relative;
    width: 35%;

    @include md {
      width: 100%;

      order: 1;
    }

    img {
      max-width: 280px;
      width: 90%;
      position: absolute;
    }
    object {
      position: absolute;
      width: 85%;
      max-width: 280px;
      left: -6%;
      top: -140px;

      @include sm {
        width: 50%;
        max-width: 280px;
        right: 0;
        left: auto;
        top: -120px;
      }
    }
  }

  &__heading {
    font-family: $font-heading;
    font-size: 52px;
    line-height: 59px;
    font-weight: 400;
    margin-bottom: 10px;

    @include sm {
      font-size: $font-size-bottom-block-sm;
      line-height: $line-height-bottom-block-sm;
    }
  }
}
