// Buttons

a, i {
  &.link--cta {
    
    span {
      display: inline-block;
      text-transform: uppercase;
      font-size: $font-size-cta;
      line-height: 16px;
      letter-spacing: 1px;

      @include md {
        font-size: 15px;
      }

      @include sm {
        font-size: 14px;
      }
      &:after {
        display: block;
        content: '';
        border-bottom: solid 1px $color-text;
        width: 0;
        @include transition (width 250ms ease-in-out);

        @include sm {
          @include transition (width 125ms ease-in-out);
          width: 0;
        }

      
      }

    }
    &:before {
      content: ">";
      font-family: $font-body-regular;
      color: $color-blue;
      padding-right: 0.5rem;
      font-size: 1rem;
      
    }

    &:hover {
      span {
        &:after {
          width: 100%;
          @include sm {
            width: 0;
          }
        }
      }
    }
    // links in blue background to appear white
    &.link--white {
      span {
        &:after {
          border-color: $color-white;
        }
      }
      &:before {
        color: $color-white;
      }

    }
  }

  &.link--inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
  }
}


.icon-dash-line {
  border-left: 8px solid $color-red;
  display: inline-block;
  transform: skew(-25deg);
  height: 25px;
  width: 10px;
  margin-right: 1rem;
}

.scroll-btn {
  position: relative;
  //width: 160px;
  width: 160px;
  padding-top: 40px;

  @include lg {
    display: none;
    &.scroll-up {
      display: block;
    }
  }

  span {
    display: block;

  }

  &.fixed {
    position: fixed;
  }

}

.scroll-up {
  span {
    transform: rotate(-90deg);
    padding-right: 20px;
    cursor: pointer;
    &:after {
      content: "";
      display: inline-block;
      border-bottom: 1px solid $color-blue;
      width: 50px;
      margin-left: 15px;
      margin-bottom: 5px;
    }
  }

}

.scroll {
  left: -45px;
  margin-top: 9%;


  span {
    transform: rotate(-90deg);
    padding-left: 20px;
    position: absolute;
    left: 20px;
    top: 0px;
    width: 130px;

    &:before {
      content: "";
      display: inline-block;
      border-bottom: 1px solid $color-blue;
      width: 50px;
      margin-right: 15px;
      margin-bottom: 5px;
    }
  }
}

.link--invisible {
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
}
