/*!
 * jQuery Cookiebar Plugin
 * https://github.com/carlwoodhouse/jquery.cookieBar
 *
 * Copyright 2012, Carl Woodhouse
 * Disclaimer: if you still get fined for not complying with the eu cookielaw, it's not our fault.
 */
 
 .cookie-message {
    position:fixed;
    bottom:0;left:0;right:0;
    padding: 10px 10% 10px 10%;
    z-index: 99;

    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    @include md {
      flex-wrap: wrap;
      padding-left: $padding-md;
      padding-right: $padding-md;
    }

    p {
      font-family: $font-body-regular;
      color: $color-white;
      font-size: 13px;
      width: 85%;

      @include md {
        font-size: 12px;
      }

      @include sm {
        width: 100%;
      }
    }

    a {
      color: $color-white;
      cursor:pointer;

      width: 15%;

      @include sm {
        width: 100%;
      }

      &:hover {
        text-decoration: underline;
      }

      &.link--cta {
        position: relative;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
      }
      
    }
  }
  .cookie-message a {
    
  }
  .cookie-message p, .cookie-message a {
  
  }
  .blue {
    border-bottom:1px solid #0E83AE;
    background-color:#0990c3;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0e83ae), color-stop(50%, #0990c3), color-stop(100%, #0e9dd2));
    background: -webkit-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
    background: -moz-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
    background: -o-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
    background: -ms-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
    background: linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  }
  .blue p, .blue a { color:#fff; }