// Forms

input {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  background: transparent;
  border: none;

  &.checkbox {
    background: $color-white;
    padding: 8px;
    border: 1px solid $color-white;
  }
}

@include placeholder-color($color-pink);

#mce-EMAIL {
  width: 100%;
  border-bottom: 2px solid #CCCCCC;
  color: $color-white;
  padding: 10px 0; 
}

#mc-embedded-subscribe {
  color: $color-white;
  text-transform: uppercase;
  font-size: $font-size-cta;
  letter-spacing: 1px;

  position: absolute;
  left: 0;
  width: 100%;
  z-index: 90;
  margin-top: 0;

  cursor: pointer;
}

.agreement {
  display: flex;
  flex-wrap: wrap;

  position: relative;

  padding-top: 25px;
  padding-right: 12%;
  margin-bottom: 20px;

  i {
    &.link--cta {
      position: relative;
    }
  }

  label {
    position: relative;
    color: $color-pink;
    font-size: 13px;
    padding-left: 28px;

    &:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 16px;
      height: 16px;
      padding: 8px;
      margin-left: -28px;
      background: white;
    }

    a {
      font-weight: $bold;
      span {
        color: $color-pink !important;
        &:after {
          border-color: $color-pink !important;
        }
      }
    }
  }

  .checkbox {
    position: absolute;

    width: 16px;
    height: 16px;
    margin-right: 15px;
    margin-top: 4px;

    opacity: 0;

    z-index: 9;


    cursor: pointer;

    &:checked {
      background-color: $color-pink;
      + label {

        &:before {
          background-color: $color-pink;
        }
        &:after {
          content: '';
          position: absolute;
          left: 3px;
          top: 12px;
          background: $color-blue;
          width: 2px;
          height: 2px;
          box-shadow: 2px 0 0 $color-blue , 4px 0 0 $color-blue, 4px -2px 0 $color-blue, 4px -4px 0 $color-blue, 4px -6px 0 $color-blue, 4px -8px 0 $color-blue;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        } 
      }

    }
  }
}

// Errors 

#mc_embed_signup {
  .error {
    flex:0 0 100%;

    &:before {
      display: none;
    }
  }
}

#mce-EMAIL-error {
  color: $color-red;
  font-size: 13px;
  padding-top: 5px;
  display: block;
}

#subscribe-error {
  color: $color-red;
  font-size: 13px;
  padding-left: 0;    
  position: absolute;
  bottom: -20px;

}
