.hamburger {
    white-space: normal;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 10;
    height: 30px;
    display: none;

    @include md {
        display: inline-block;
      }
    
    &.open {
        .hamburger-icon {
            span {
                background-color: $color-pink;
                &:first-of-type {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(2) {
                    @include transform (rotate(45deg));
                }
                &:nth-child(3) {
                    @include transform (rotate(-45deg));
                }
                &:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;                
                }           
            
            }
        }
    }
}

.hamburger-icon {
    width: 30px;
    height: 20px;
    display: inline-block;
    @include transform (rotate(0deg));
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    vertical-align: text-top;

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #fefefe;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        @include transform (rotate(0deg));

        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out;

        background-color: $color-blue;
        &:first-of-type {
            top: 0;
        }
        &:nth-child(2),
        &:nth-child(3) {
            top: 8px;
        }
        &:nth-child(4) {
            top: 16px;
        }
    }

}