// Home Team

.home-team {
  &__wrapper {
    display: flex;
    padding-bottom: 100px;

    @include md {
      flex-wrap: wrap;
    }
  }

  &__text {
    width: 55%;
    padding-left: 13%;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url('/img/backgrounds/home-team-left.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 95% 60%;

    @include sm {
      width: 100%;
      padding-top: 0;
      padding-left: 35px;
      padding-right: 35px;
      background: none;

      order: 2;

    }
  }

  &__heading {
    font-family: $font-heading;
    font-size: 36px;
    line-height: 43px;
    
    @include md {
      br {
        display: none;
      }
      font-size: 30px;
      line-height: 36px;
    }

    @include sm {
      br {
        display: none;
      }
    }
  }


  &__image {
    width: 45%;
    padding-right: 4%;
    padding-top: 200px;

    @include md {
      width: 100%;
      padding-top: 8%;
      padding-right:0;
      padding-left: 35px;
      
    }
    @include sm {
      padding-top: 12%;
    }
    img {
      width: 100%;
    }
  }
}
