// Home Projects

$panelcount: 5; // set # of panels/sections here

.home-projects {

  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-top: 8%;

  width: 100%;
  height: 100%;

  @include xl {
    margin-top: 2%;
  }

  @include md {
    margin-top: 2%;
  }

  @include sm {
    margin-top: 12%;
  }

  &__item {
    height: 75vh;
    min-height: 600px;
    max-height: 700px;
    margin-right: 2%;
    border: 20px solid $color-white;
    @include box-shadow(9px, 5px, 31px, -20px, rgba(206,200,200,1));

    padding-left: 30px;

    @include sm {
      margin: 35px;
      border-width: 10px;
      height: 500px;
      min-height: 400px;
      padding-right: 35px;
    }

    @include xxl {
      min-height: 700px;
    }

    &:not(.slick-current) {
      position: relative;
      z-index: 90;
      left: 0;

      .link--invisible {
        display: none;
      }

      &.next {

        &:hover {
          margin-left: -1%;
          transition: margin 700ms ease-in-out;

          @include sm {
            margin-left: $padding-sm;
            transition: none;
          }
        }
      }
      &.prev {
        &:hover {
          margin-right: 1%;
          margin-left: 1%;
          transition: margin 700ms ease-in-out;

        }
      }
    }

    &--white {
      color: $color-white;

      .link--cta {
        &:before {
          color: $color-white;
        }
        span {
          &:after {
            border-color: $color-white;
          }
        }
      }
    }

  }

  &__title {
    font-family: $font-heading;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;

    @include md {
      font-size: 30px;
      line-height: 36px;
    }

    @include sm {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 0.85rem;
    }
  }

  &__desc {
    font-family: $font-body-regular;
    font-size: 1rem;

    @include md {
      font-size: 0.95rem;
    }

    @include sm {
      padding-right: 2%;

      br {
        display: none;
      }
    }
  }

  &__link {
    margin-top: 2rem;

    position: relative;
    z-index: 5;
    span {

    }
    i {
      padding-right: 0.5rem;
    }
  }

  &__slider {
    &.slick-initialized {
      .slick-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

    }
  }

  .slick-list {
    padding:0 20% 0 0;

    @include md {
      padding: 0 35px !important;
    }
  }

  .slick-prev {
    left: 8%;
    z-index: 10;

    &:before {
      color: $color-text;
    }

    &.slick-disabled {
      opacity: 0;
    }
  }

  .slick-next {
    right: 13%;

    &:before {
      color: $color-text;
    }
    &.slick-disabled {
      opacity: 0;
    }
  }

  .slick-dots {
    bottom: -50px;
    li {
      &:hover {
        color: $color-text;
      }
    }
  }

}

#js-wrapper {
  overflow: hidden;
}

.red-triangle-wrapper {
  margin-top: -300px;

  @include sm {
    opacity: 0;
  }
}

.red-triangle {
  width: 40%;
  position: relative;
  left: 0;
  bottom: -200px;
  z-index: -1;
}

#home-project-simoncoll, .home-project-simoncoll {
  background-image: url("/img/home/project-simoncoll.jpg");
  background-size: cover;

  @include sm {
    background-image: url("/img/home/project-simoncoll-mobile.jpg");
    background-color: $color-pink;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
}

#home-project-banners, .home-project-banners {
  background-image: url("/img/home/project-banners.jpg");
  background-size: cover;

  @include sm {
    background-image: url("/img/home/project-banners-mobile.jpg");
    background-color: #E4C2DA;
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;

  }

}

#home-project-catalana, .home-project-catalana  {
  background-image: url("/img/home/project-catalana.jpg");
  background-size: cover;

  @include sm {
    background-image: url("/img/home/project-catalana-mobile.jpg");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    
  }
}


.home-projects {
  #home-project-accelya, .home-project-accelya  {
    background-image: url("/img/home/project-accelya.jpg");
    background-color: $color-blue;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 100%;
    //transition-delay: 5s;
    //transform: translateX(0px) translateZ(0);

    @include md {
     // transform: translateX(0px) translateZ(0) !important;
    }

    @include sm {
      background-size: 125%;
      background-position-y: bottom;
      
    }
  }
}
