// Page Header

.page-header {
  padding-left: 8%;

  @include md {
    padding-left: $padding-md;
    padding-right: $padding-md;
  }

  .scroll-btn {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  &__container {
    margin-left: 2%;

    @include md {
      margin-left: 0;
      padding-right: 30%;
    }
    @include sm {
      padding-right: 2%;
    }
  }

  &__title {
    font-family: $font-heading;
    font-size: 60px;
    line-height: 66px;
    color: $color-blue;
    font-weight: $normal;

    @include xl {
      font-size: $font-size-header-title-xl;
      line-height: $line-height-header-title-xl;
    }

    @include lg {
      font-size: $font-size-header-title-lg !important;
      line-height: $line-height-header-title-lg !important;
    }

    @include md {
      font-size: $font-size-header-title-md !important;
      line-height: $line-height-header-title-md !important;
      br {
        display: none;
      }
    }

    @include sm {
      font-size: $font-size-header-title-sm !important;
      line-height: $line-height-header-title-sm !important;
    }


  }

  &__subtitle {
    font-family: $font-body-regular;
    font-size: 1rem;
    font-weight: $normal;
    color: $color-blue;

    strong {
      font-family: $font-body-bold;
    }

  }

  &__subheading {
    font-family: $font-heading;
    font-size: 36px;
    line-height: 43px;
    font-weight: $normal;
    color: $color-blue;
    width: 70%;

    @include xl {
      font-size: $font-size-header-subheading-xl;
      line-height: $line-height-header-subheading-xl;
      width: 86%;
      br {
        display: none;
      }
    }

    @include lg {
      font-size: $font-size-header-subheading-lg;
      line-height: $line-height-header-subheading-lg;
    }

    @include md {
      font-size: $font-size-header-subheading-md;
      line-height: $line-height-header-subheading-lg;
    }

    @include sm {
      font-size: $font-size-header-subheading-sm;
      line-height: $line-height-header-subheading-sm;
      width: 100%;
    }

  }

  &__video {
    display: block;
    width: 72%;

    margin-top: -8%;
    margin-left: -7%;
    margin-bottom: -8%;
    margin-right: auto;

    padding-top: 62.5%;
    z-index: 1;

    video {
      max-width: 100%;
    }
  }
}
