.project {

    &-block {
        display: flex;
        flex-wrap: wrap;

        @include lg {
            padding: 0 8%;
        }

        @include md {
            padding: 0 $padding-md;
            margin-bottom: 50px;
        }

        @include sm {
            margin-bottom: 80px;
        }

        &--right {
            flex-direction: row-reverse;

            .project__text {
                padding-left: 4%;
                padding-right: 10%;
            }
            .project__slider {
                padding-left: 2%;
                padding-right: 0;
                @include lg {
                    padding-left: 0;
                }
            }
            &.project-block--email {
                .project__text {
                    padding-right: 14%;
                    padding-left: 8%;
                    @include lg {
                        padding-left: 0;
                    }

                }

                .project__slider {
                    padding-left: 8%;
                    padding-right: 0;
                    @include lg {
                        padding-left: 0;
                    }
                }
            }
        }

        &--web {
            .project__text {
                width:  35%;
                @include lg {
                    padding-left: 0;
                }
            }
            .project__slider {
                width: 65%;
            }
        }

        &--video {
            .project__text {
                width:  45%;
            }
            .project__slider {
                width: 55%;
            }
            .project__slide {
              border: 20px solid $color-white;
              @include box-shadow(9px, 5px, 31px, -20px, rgba(206,200,200,1));
              @include md {
                  border-width: 10px;
              }
            }
            video {
                padding-left: 0;
            }

        }

        &--email {
            .project__text {
                width:  45%;
                padding-left: 14%;
                padding-right: 8%;
                @include lg {
                    padding-left: 0;
                }
            }
            .project__slider {
                width: 55%;
                padding-right: 8%;
                @include lg {
                    padding-right: 0;
                }
            }
            
        }
    }

    &__text {

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding-left: 10%;
        padding-right: 4%;

        @include lg {
            width: 100% !important;
            order: 2;
            padding-left: 0;
        }

        @include sm {
            padding-right: 0;
        }

        .link--cta {
            @include lg {
                margin-top: 15px;
                order: 1;
            }
            @include md {
                span {
                 font-size: 14px;
                }

            }

            @include sm {
              margin-top: 15px;
              font-size: 0.95rem;
            }
        }
    }

    &__title {
        font-family: $font-heading;
        font-size: 36px;
        line-height: 43px;
        font-weight: 400;

        margin-top: 0;
        margin-bottom: 25px;

        @include lg {
            order: 1;
        }

        @include md {
            font-size: $font-size-project-title-md;
            line-height: $line-height-project-title-md;
        }

        @include sm {
            margin-top: -10px !important;
            font-size: $font-size-project-title-sm;
            line-height: $line-height-project-title-sm;
            margin-bottom: 10px;
        }

    }

    &__heading {
        font-family: $font-body-regular;
        font-size: 15px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;

        margin: 0 0 0.75rem 0;

        @include lg {
            order: 1;
        }

        @include md {
            font-size: 14px;
        }

        @include sm {
            margin-bottom: 0.5rem;
        }
    }

    &__desc {

        @include lg {
            width: 80%;
            order: 1;
        }

        @include sm {
            width: 100%;
            order: 1;
            font-size: 0.95rem;
        }
    }


    &__slider {
        padding-right: 2%;

        @include lg {
            width: 100% !important;
            order: 1;
        }

        .slick-list {
            //@include box-shadow(2px, 5px, 31px, -20px, rgba(97,94,97,1));
        }

        img {
            display: block;
            width:100%;

        }
    }

    &__slide {
        &--boxed {
            img, .project__slide--bg > div{
              border: 20px solid $color-white;
              @include box-shadow(9px, 5px, 31px, -20px, rgba(206,200,200,1));

              @include lg {
                border-width: 15px;
              }
              @include md {
                border-width: 10px;
              }
            }
          }
        &--bg {
            padding-top:100%;
            > div {
                @include sm {
                    z-index: 0 !important;
                }
            }
        }
    }

    &__dots {

        @include lg {
            margin-top: 30px;
        }

        @include sm {
          margin-top: 0;
        }

        .slick-dots {
            padding-left: 0;
            position: relative;
            left: 0;
            bottom: 0;
            text-align: left;
            padding-bottom: 25px;
            margin-bottom: 25px;
            margin-top: 20px;

            @include lg {
                order: 0;
            }

            li {
                &.slick-active {
                    color: $color-blue;
                }
                &:hover {
                  color: $color-text;
                }
            }
        }

        &--white {
            .slick-dots {
                li {
                    color: $color-white
                }
            }
        }

        &--purple {
            .slick-dots {
                li {
                    color: $color-purple;
                }
            }
        }

        &--red {
            .slick-dots {
                li {
                    color: $color-red;
                }
            }
        }

    }
}

#project-simon-coll {
    margin-top: 90px;

    @include md {
        margin-top: 60px;
    }

    @include sm {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .project__title {
        margin-top: -50px;
        @include lg {
            margin-top: 0;
        }
    }

    .project__dots--white {
        .slick-dots {
            li {
                @include lg {
                    color: $color-purple;
                    &.slick-active {
                        a {
                            color: $color-blue;
                        }
                    }
                }


            }
        }
    }
}

#project-honda {
    @include sm {
        margin-bottom: 40px;
    }
    .slick-dots {
        li {
            color: $color-red;
            &.slick-active {
                color: $color-blue;
            }
            &:hover {
              color: $color-blue;
            }
        }
    }
}

#project-accelya {
    margin-top: 4%;
    @include lg {
        margin-top: 8%;
    }
    .project__slide {
        background-color: $color-blue;
        padding: 0;
    }
}

#project-banners {
    margin-top: -4%;

    @include sm {
        margin-bottom: 40px;
    }

    .project__slide {
        border: 20px solid $color-white;
        @include box-shadow(9px, 5px, 31px, -20px, rgba(206,200,200,1));
    }
}



#project-newsletters {
    margin-top: 10%;

    @include sm {
        margin-bottom: 40px;
    }
}

.video__slide--wrapper {
    padding: 0;
    background: none;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0;
}


*[data-paroller-factor] {
    @include md {
    /*for all elements with background parallax effect*/
    background-position: center !important;

    /*for all elements with foreground parallax effect*/
    transform: none !important;
    }

  }
