// Services Blocks

.service {
  &__block {
    position: relative;
    width: 100%;

    &--left {
      padding-left: 10%;
      justify-content: flex-start;
      padding-right: 50%;

      @include md {
        padding-left: $padding-md;
        padding-right: $padding-md;
      }

      .service__text {
        padding-right: 12%;
        @include md {
          padding-right: 30%;
        }
        @include sm {
          padding-right: 0;
        }
      }

      .service__title {
        padding-right: 10%;
      }

      .service__image {
        @include md {
          margin-left: 0;
          margin-right: auto;
        }
      }
    }

    &--right {
      justify-content: flex-end;

      padding-left: 50%;

      @include md {
        padding-left: $padding-md;
        padding-right: $padding-md;
      }

      .service__text {
        padding-left: 15%;
        padding-right: 10%;

        @include md {
          text-align: right;
          padding-right: 0;
        }

        @include sm {
          text-align: left;
          padding-left: 0;
        }

      }

      .service__title {
        padding-left: 0;
        @include sm {
          padding-left: 0;
        }
      }

      .service__image {
        padding-left: 15%;
        @include md {
          padding-left: 0;
          margin-left: auto;
          margin-right: 0;
        }
        @include sm {
          margin-left: 0;
        }
      }

      .service__desc {
        padding-right: 15%;
        @include md {
          padding-right: 0;
        }
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
  }

  &__image {
    width: 70%;
    min-height: 300px;
    @include md {
      width: 50%;
    }
    @include sm {
      width: 80%;
      margin-top: 30px;
      margin-left: auto !important;
      margin-right: auto !important;
      min-height: 170px;
    
    }
    object {
      visibility: hidden;
      display: none;
      opacity: 0;
      @include transition (opacity, 0.25s linear);
    }

    &.show-animation{
      object {
        display: block;
        visibility: visible;
        margin-left: auto !important;
        margin-right: auto !important;
        opacity: 1;
      }
      .service__image--placeholder {
        position: absolute;
        opacity: 0;        
      }
    }

    &.full-visible {
      object {
        display: block;
        visibility: visible;
        margin-left: auto !important;
        margin-right: auto !important;
        opacity: 1;
      }

      .service__image--placeholder {
        position: absolute;
        opacity: 0;        
      }
    }

    &--placeholder {
      position: absolute;
      display: block;
      opacity: 1;
      @include transition (opacity, 0.25s linear);
    }
  }

  &__title {
    font-family: $font-heading;
    font-size: 46px;
    line-height: 52px;
    font-weight: $normal;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;

    @include rwd-max(1180){
      font-size: $font-size-service-title-lg;
      line-height: $line-height-service-title-lg;
      padding-right: 2%;
    }

    @include md {
      font-size: $font-size-service-title-md;
      line-height: $line-height-service-title-md;
    }
  }

  &__desc {
    margin-top: 0;
    @include rwd-max(1180){
      font-size: 0.95rem;
    }
  }
}

#service-websites {

  .service {
    &__image {
      min-height: 220px;
      
      
      @include sm {
        min-height: 120px;
      }

     

      &--placeholder {
        width: 28%;
        @include md {
          width: 40%;
        }
        @include sm {
          width: 65%;
          margin-top: 0px;
          
        } 
      }
    }
  }

  @include rwd-max(1180){
    margin-top: -4%;
  }
  @include md {
    margin-top: 0;
  }
}

#service-videos {
  margin-top: -14%;

  @include rwd-max(1180){
    margin-top: -12%;
  }

  @include xxl {
    margin-top: -8%;
  }

  @include md {
    margin-top: 0;
  }

  object, image {
    width: 70%;
    @include md {
      margin-left: auto;
    }
    @include sm {
      margin-left: 0;
    }
  }

  .service__image--placeholder {
    width: 34%;
    margin-top: -10px;
    margin-left: -11%;


    @include sm {
      width: 46%;
      margin-top: 0;
      margin-left: 35px !important;
      min-height: 175px !important;
    }
  }

}

#service-newsletters {
  margin-top: -20%;

  @include xxl {
    margin-top: -16%;
  }

  @include md {
    margin-top: 0;
  }

  object, image {
    width: 70%;
  }

  .service__text {
    padding-right: 0;
  }
  .service__desc {
    padding-right: 20%;
    @include sm {
      padding-right: 0;
    }
  }
  .service__image--placeholder {
    width: 20%;
    margin-left: 56px;
    margin-top: -3px;
    @include sm {
      width: 45%;
      margin-left: 10% !important;
      margin-top: 0;
    }
  }
}

#service-campaigns {
  margin-top: 0%;

  @include xxl {
    margin-top: -6%;
  }

  @include lg {
    margin-top: -2%;
  }

  @include md {
    margin-top: 0;
  }

  .service__image--placeholder {
    width: 41%;
    margin-left: -15%;

    @include sm {
      width: 60%;
    }
  }
}
