// Slider

.slick-dots {
  li {
    position: relative;
    width: 35px !important;
    text-align: center;
    color: $color-red;
    font-size: 13px;
    @include transition (all 0.25s linear);
        
    &.slick-active {
      color: $color-blue;
      &:before {
        content:"";
        position: relative;
        display: block;
        top: 15px;
        width: 100%;
        height: 1px;
        border-top: 1px solid $color-blue;
      }
      a {
        top: 25px;
        position: absolute;
        @include centerer-h;
      }
    }
  }
}
