.testimonials-block {
    .bottom-block {
        &__wrapper {
            position: relative;
            background-color: $color-purple;
            padding-top: 4%;

            @include sm {
                padding-bottom: 14%;
            }

            > img {
                position: absolute;
                width: 250px;
                left: 10%;
                top: 12%;
                z-index: 0;
                @include md {
                    left: -4%;
                    width: 235px;
                }
                @include sm {
                    width: 200px;
                    top: 4%;
                }
            }
        }
    }

    .bottom-block {
        &__content {
            background-color: transparent;

            > img {
                width: 170px;
                left: -50px;
                top: -40%;

            }
        }
    }
}

.testimonials {
    &__slider {
        position: relative;

        padding-left: 10%;
        padding-top: 4%;
        z-index: 1;

        @include md {
            padding-left: 0;
        }

        .slick-dots {
            position: relative;
            bottom: 0;
            margin-top: 50px;
            text-align: left;
            li {
                color: $color-red;
                &.slick-active {
                    color: $color-blue;
                }
                @include sm {
                    width: 20px !important;
                    a {
                        font-size: 11px;
                    }
                }

                &:hover {
                    color: $color-text;

                }
            }
        }
    }
    &__quote{
        font-family: $font-heading;
        font-size: 30px;
        line-height: 40px;
        font-weight: 400;

        padding-right: 6%;

        opacity: 0;

        transition: transform 1s cubic-bezier(.165,.84,.44,1),opacity 1s cubic-bezier(.165,.84,.44,1);
        transform: translateY(15px) translateZ(0);
        transition-delay: 0.5s;

        @include md {
            font-size: $font-size-testimonial-md;
            line-height: $line-height-testimonial-md;
        }

        @include sm {
            font-size: $font-size-testimonial-sm;
            line-height: $line-height-testimonial-sm;
        }


        &.animated, &.visible {
            opacity:1;
            transform: translateY(0) translateZ(0);

          }
    }
    &__credits {
        opacity: 0;
        transition: transform 1s cubic-bezier(.165,.84,.44,1),opacity 1s cubic-bezier(.165,.84,.44,1);
        transform: translateY(15px) translateZ(0);
        transition-delay: 0.75s;

        @include md {
          font-size: 0.95rem;
        }

        @include sm {
          font-size: 0.9rem;
        }

        &.animated, &.visible {
            opacity:1;
            transform: translateY(0) translateZ(0);

        }
    }
    &__name {
        font-family: $font-body-bold;
        display: block;

        @include md {
          font-size: 0.95rem;
        }

        @include sm {
          font-size: 0.9rem;
        }

    }

}
