body.case-study {
  background-image: url('/wp-content/themes/t2m/assets/images/case-studies/simon-coll/background-top.svg');
  background-repeat: no-repeat;
  background-size: 101%;
  background-attachment: unset;

  @include xl {
    background-size: 120%;
  }

  @include lg {
    background-size: 120%;
  }

  @include md {
    background-size: 135%;
    background-image: url('/wp-content/themes/t2m/assets/images/case-studies/simon-coll/background-mobile.svg');
  }

  @include sm {
    background-position-y: -100px;
  }

  .nav__link--projects {
    &:after {
      width: 100%;
    }
  }


	.testimonials-block{
		.bottom-block__wrapper {
			margin-left:0;
			margin-top:-1px;

    		@include lg {
    			width:100%;
    		}
		}

		&.testimonials--pink{
			.bottom-block__wrapper {
				background-color: $color-pink;
			}
		}

		&.testimonials--no-tp{
			.bottom-block__wrapper {
            	padding-top: 0%;

            	img{
            		top: 0%;
            	}

            	.testimonials__slider{
            		padding-top: 0%;
            	}
			}

		}
	}

  .page-header {

    @include md {
      padding-bottom: 8%;
      padding-left: 0;
      padding-right: 0;
    }

    @include sm {
      padding-bottom: 0;
    }

    &__container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      @include md {
        flex-wrap: wrap;
        padding-right: 0;
      }
    }

    &__title {
      z-index: 10;
      margin-top: 8%;

      @include md {
        width: 100%;
        margin-top: 4%;
        padding-left: 35px;
        order: 2;

        br {
          display: inline-block;
        }
      }
    }

    &__image {
      margin-left: -7%;
      width: 72%;

      @include md {
        width: 100%;
        margin-left: 0;
        order: 1;
      }
    }

    &__specs {
      padding-left: 18%;
      padding-top: 10%;
      padding-bottom: 0;
      padding-right: 3%;
      width: 40%;

      @include md {
        width: 100%;
        padding-top: 0;
        padding-left: $padding-sm;
      }

      @include sm {
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 4%;
        font-size: 0.95rem;
      }

      @include sm-land {
        padding-left: $padding-sm;
        padding-top: 0;
      }

      > div {
        margin-bottom: 25px;
      }

      &--title {
        font-family: $font-body-bold;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 1px;

        margin: 0;

        @include sm {
          font-size: 14px;
        }
      }

      &--desc {
        font-family: $font-body-regular;
        font-weight: $normal;
        font-size: inherit;
        margin: 0;
      }

      &--list {
        padding-left: 15px;
        list-style-type: bullet;
      }

      &--item {
        text-indent: 0;
    	list-style: disc;

        @include sm {
          font-size: 0.95rem;
        }
      }
    }

    &__brief {
      padding-top: 10%;
      padding-left: 6%;
      padding-right: 12%;
      width: 60%;

      @include md {
        width: 100%;
        padding-top: 5%;
      }

      @include sm {
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 8%;
        padding-top: 4%;
        background-color: $color-purple;
      }

      @include sm-land {
        padding-top: 2%;
      }
    }

    .brief__desc {
      margin-bottom: 0px;

      @include sm {
        font-size: 0.95rem;
      }

      	.desc-logos{

      		margin-top:30px; list-style:none; padding:0px; margin-bottom:0px;


	      	@include sm {
	        	margin-top:20px;
	      	}

      	li{display:inline; margin-right:20px;}
      }
    }

  }

}

.case-study {
  &-next {
    display: flex;

    @include md {
      padding-top: 6%;
      padding-bottom: 2%;
      flex-wrap: wrap;
    }

    @include sm {
      padding-top: 10%;
    }

    @include sm-land {
      padding-left: $padding-sm;
      padding-right: $padding-sm;
      padding-bottom: 6%;
    }

    &__text {
      width: 50%;
      padding-left: 8%;
      padding-right: 8%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      //margin-top: -100px;

      @include xl {
        margin-top: 0;
      }

      @include md {
        width: 50%;
        padding-left: 4%;
        padding-right: 4%;
      }

      @include sm-land {
        margin-top: 0;
      }

      @include md {
        width: 100%;
        margin-top: 0;
      }
    }

    &__desc {
      font-size: 0.95rem;

      @include sm-land {
        font-size: 0.9rem;
      }
    	& p{margin:0px;}
    }

    &__image {
      width: 45%;
      padding: 4% 0 8% 0;

      position: relative;

      @include md {
        width: 100%;
      	padding: 4% 4% 8% 4%;
      }

      &--boxed {
        img {
          border: 20px solid $color-white;
          @include box-shadow(4px, 5px, 10px, -2px, rgba(51,51,51,0.5));


		    @include sm {
	          border: 10px solid $color-white;
	      	}
        }
		@include sm {
	    	// margin:0 4%;
	    }
      }

      img {
        display: block;
        width: 100%;
      }
    }


    &__title {
      font-family: $font-body-regular;
      font-size: 15px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;

      margin-top: 0;

      @include xl {
      	margin-top: 30px;
      }

      @include md {
      	margin-top:0px;
      }

      @include sm {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }

    &__heading {
      font-family: $font-heading;
      font-size: 50px;
      line-height: 59px;
      font-weight: 400;

      margin: 0 0 30px 0;

      @include rwd-max(1200){
        font-size: 40px;
        line-height: 46px;
      	margin: 0 0 30px 0;
      }

      @include md {
        font-size: $font-size-bottom-block-md;
        line-height: $line-height-bottom-block-md;
      }

      @include sm {
        font-size: $font-size-bottom-block-sm;
        line-height: $line-height-bottom-block-sm;
      }


    }

    .link--cta {
      margin-top: 20px;

      @include rwd-max(1200){
      	// margin-top: 20px;
      }

      @include xl {
      	// margin-top: 20px;
      	margin-bottom: 30px;
      }

      @include md {
      	margin-bottom:0px;
      }
    }
  }

  &__image {
    img {
      display: block;
      width: 100%;
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    &--two {
      img {
        width: 45%;

        @include sm {
          width: 100%;
          &:first-of-type {
            margin-bottom: 8%;
          }
        }
      }
    }
    &--three {
      padding: 4% 4% 0 4%;


      img {
        width: 30%;
        padding: 2%;
        position: relative;

        @include md {
         top: -70px;
          padding: 2% 4% 0 4%;
        }
         @include sm-land {
           top: -40px;
         }

        @include sm {
          padding: 1%;
          top:0;
        }

        &.move-up {
         top: -70px;

         @include sm-land {
           top: -40px;
         }
         @include sm {
           top: 0;
         }
        }
      }
    }

    &--diff {
      align-items: flex-start;
      padding: 8% 6% 8% 6%;
      position: relative;

      @include sm {
        padding-top: 0;
        padding-bottom: 0;
      }
        &--two {
          img {
            width: 48%;
          }
        }
        .case-study__image {
          padding:14% 18%;
          &--left {
            padding-top: 15%;
            align-self: flex-end;
            @include sm {
              padding-top: 8%;
            }
          }
          &--right {
            padding-bottom: 15%;
            align-self: flex-start;
            @include sm {
              padding-bottom: 8%;
            }
          }
        }
    }
  }

  &__slider {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    @include md {
      max-width: 700px;
    }
    @include sm {
      padding: 10% 14%;
      margin-bottom: 4% !important;
    }

    .slick-dots {
      position: relative;
      bottom: -10px;
      margin-top: 6%;

      @include md {
        bottom: 20px;
        margin-top: 0;
      }

      @include sm {
        bottom: 0;
      }

      @include sm-land {
        //bottom: 60px;
      }
    }

  }

  &__video {
    position: relative;

    padding-top: 10%;
    padding-left: 12%;
    padding-right: 12%;

    @include md {
      padding-top: 4%;
    }

    &--full {
      padding-left: 0;
      padding-right: 0;
    }

    &--macbook {
      	padding: 6% 12%;

	   	@include sm {
      		padding: 6% 10%;
      	}

      background-image: url('/wp-content/themes/t2m/assets/images/case-studies/honda/macbook.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    &--tablet {
      padding: 6% 15% 6% 15%;
      background-image: url('/wp-content/themes/t2m/assets/images/case-studies/catalana/tablet.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }



    img {
      display: block;
      width: 100%;
      margin-bottom: -1px;
      @include push--auto;
    }

    .video__background {

      display: block;
      width: 100%;
      margin-bottom: -1px;
      @include push--auto;

      padding-top: 62.5%; /* 8:5 Aspect Ratio */

      z-index: 10;
    }
  }

  &__block {
    position: relative;
    padding: 6%;

    @include sm {
      padding-bottom: 0;
    }

    > img {
      width: 100%;
    }
  }

  &__icons {
    padding: 4% 14% 8% 14%;

    @include sm-land {
      padding: 4% 8% 8% 8%;
    }

    @include sm {
      padding-left: 35px;
      padding-right: 35px;
      padding-bottom: 4%;
    }

    &--list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &--item {
      width: 12.5%;
      margin: 1% 0;

      @include sm {
        width: 65px;
      }

      img {
        display: block;
        height: auto;
        text-align: center;
        width: 70%;
        min-width: 85px;

        @include sm-land {
          min-width: 85%;
          margin-left: auto;
          margin-right: auto;
        }

        @include sm {
          min-width: 65px;
        }
      }
    }
  }

}

.case-study-cta {
  @include md {
    margin-top: 6%;
  }
  .bottom-block {

    &__wrapper {
      padding: 5% 0 0 155px;
      margin-left: 0;

      @include xl {
        padding-left: 8%;
      }

      @include md {
        padding: 0;
      }
    }

    &__content {
      background-color: $color-pink;
      padding-top: 6%;

      @include rwd-max(1200){
        padding-left: 6%;
      }

      @include md {
        padding-bottom: 7%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      @include sm {
        height: 350px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }

      @include xs {
        height: 310px;
      }

    }

    &__image {

      @include md {
        width: 50%;
      }

      @include sm {
        width: 100%;
        margin-top: 10%;
      }

      img {
        max-width: 225px;
        @include xl {
          max-width: 210px;
        }
        @include md {
          margin-top: -20px;
        }

        @include sm {
          margin-top: -28px;
          max-width: 190px;
        }

        @include xs {
          max-width: 150px;
          // left:47%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%);
          // right:6%;
        }

      }
    }

    &__text {
      @include md {
        width: 50%;
      }
      @include sm {
        width: 100%;
      }

    }

    &__heading {
      margin-bottom: 25px;
      @include rwd-max(1200){
        font-size: 44px;
        line-height: 50px;
      }

      @include xl {
        font-size: 44px;
        line-height: 50px;
      }

      @include xl {
        font-size: 36px;
        line-height: 42px;
      }

      @include md {
        font-size: 29px;
        line-height: 38px;
      }

      @include sm {
        font-size: $font-size-bottom-block-sm;
        line-height: $line-height-bottom-block-sm;
      }


    }

  }

}

.case-study-video-block{
	background-color: $color-white;

	@include lg {
		.home-team__wrapper{
			padding-bottom: 0px;
		}
		// display:none!important;
	}

// 	.home-team__wrapper{
// 		padding-top:115px;
// 		padding-bottom:45px;

// 		.home-team__text{
// 			background-image:none;
// 			padding-top:0;

// 			h4, p{margin:0; padding:0;}
// 			// h4{font-size:40px; line-height:50px;}
// 		}

// 		.home-team__image{
// 			padding-top: 0;
// 			.embed-container .play{
// 				background-image: url('/wp-content/themes/t2m/assets/images/case-studies/play-case-study.svg');
// 			}
// 		}
// 	}



// 	@include lg {

// 		.home-team__wrapper{
// 			padding-top:10%;
// 			padding-bottom:15px;

// 			.home-team__text{
// 				order: 1;
// 				margin-bottom:8%;
// 				padding-left:10%;

// 				// h4{font-size:44px; line-height:61px;}
// 			}

// 			.home-team__image{
// 				order: 2;
// 				padding-right:35px;
// 			}


// 		}
// 	}



// 	@include md {

// 		.home-team__wrapper{
// 			padding-bottom:0px;

// 			.home-team__text{
// 			}

// 			.home-team__image{
// 				padding-left:6%;
// 				padding-right:6%;
// 			}


// 		}
// 	}

}

/* New Case studies 2023 */

body.case-study {
	.main{
		.case-study-v2{

			align-items: flex-start;

			.page-header__specs--desc{
				&.title{font-weight:700;}
			}

			.media-container{width:100%; display: block;
				&.text-center{text-align:center}
				&.text-right{text-align:right}
				img{max-width:100%; display: inline-block;}

				.mobile-mask-container{
					margin:0 auto; width:100%; position:relative; text-align: center;

					.mask{
						position:relative; display:inline-block;
						img{
						    width: auto; height: auto; max-width: 100%; margin: 0 auto;
						    &.active-mask{
						    	position:absolute; top:0; left:0; z-index:2;
						    }
						    &.vHidden{
						    	visibility: hidden; display:block; opacity:0; position:static!important;
						    }
						}
						.media-content{
							margin:0 auto;
							display:block; width:100%; height:auto; z-index:1; position:absolute;
							video{
								margin: 0 auto;
								max-width:100%;
							}
						}
					}
				}
			}

			.col{
				vertical-align: top;
			}

			.row{
				display: block;
			}




      		@include sm {
				.media-container{

					.mobile-mask-container{


						.mask{
							.media-content{
								video{

								}
							}
						}
					}
				}
      		}



		}
	}
}
