body.contact, body.contacte, body.contacto {
  background-image: url('/wp-content/themes/t2m/assets/images/backgrounds/contact.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 3%;
  background-attachment: unset;

  @include sm {
    background-image: url('/wp-content/themes/t2m/assets/images/backgrounds/contact-mobile.svg');
  	background-position-y: 0%;
    background-size: 115%;
  }

  @include xs {
    background-size: 140%;
  }

  .page-header {
    @include sm {
      margin-top:10px;
    }
    &__title {
      margin-top: 0;
    }

    &__subheading {
      @include sm {
        width: 100%;
      }
    }
    &__container {
      padding-right: 0;
    }
  }
}

.contact-details {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;

  margin-top: 4%;
  padding: 0 8%;

  &--left, &--right {
    width: 62%;

    @include sm {
      width: 100%;
    }

    object, img {
      width: 300px;
      max-width:100%;
      @include lg {
        width: 275px;
      }
      @include md {
        width: 240px;
      }
      @include sm {
        width: 220px;
        display: block;
        margin: 0 auto;
      }

      .contact-details__image--placeholder {
        position: absolute;
        &.visible {
          opacity: 0;
        }
      }
    }

    object {
      visibility: hidden;
      display: none;
      opacity: 0;
      -webkit-transition: opacity 0.25s linear;
      transition: opacity 0.25s linear;
    }

    &.visible{

      object {
        visibility: visible;
        display: block;
        opacity: 1;
      }

      .contact-details__image--placeholder {
        display: none;
      }

    }

  }

  &--left.smallsize {
  	width: 32%;

      @include md {
  			width: 66%;
      }

      @include sm {
  			width: 100%;
      }
  }

  &--left.fullsize{
  	width: 100%;

   .contact-details--center {
  		padding-left:0%;
  		padding-top:0%;
  		padding-bottom:8%;

          @include md {
  			padding-bottom:4%;
          }

          @include sm {
  			padding-bottom:0%;
          }
  	}
  }

  &--left {
    .contact-details__info {
      a {
        display: block;
        width: auto;

        &:hover {
          span {
            &:after {
              width: 100%;
              @include sm {
                width: 0;
              }
            }
          }
        }

        span {
          display: inline-block;
          @include sm {
            font-size: 1.25rem;
          }
          &:after {
            display: block;
            content: '';
            border-bottom: solid 1px #0a3d5f;
            width: 0;
            @include transition (width 250ms ease-in-out);
          }
        }
      }


    }
  }

  &--right {
    .contact-details__heading {
      margin-bottom: 0;
    }

    .contact-details__info {
      margin-top: 0;
      padding-right: 4%;

      @include md {
        padding-right: 0;
        margin-bottom:0px!important;
      }
      @include xxl {
        max-width: 440px;
      }
      a {
        margin-top: 10px;
     }
    }

    object {
      min-height: 310px;

      @include sm {
        min-height: auto;
      }
    }
  }

  &__heading {
    font-family: $font-body-regular;
    font-size: 1rem;
    margin-bottom: 5px;
  }

  &__image {
    min-height: 100px;
  }

  &__info {
    margin-bottom: 6%;
    margin-top: 0;

    @include md {
      font-size: 0.95rem;
    }

    @include sm {
      margin-bottom: 12%;
    }

    a {
      font-family: $font-heading;
      font-size: 36px;
      line-height: 43px;
      display: block;
      margin-bottom: 10px;

      @include xl {
        font-size: 30px;
      }

      @include lg {
        font-size: 26px;
      }

      @include md {
        font-size: 21px;
      }
    }
  }

  &--center {
    padding: 4% 28% 4% 28%;
    @include xl {
      padding: 6% 28%;
    }

    @include md {
      font-size: 0.95rem;
      padding: 4% 20% 4% 20%;
      margin-bottom: 50px;
    }
    @include sm {
      padding: 4% 8% 4% 8%;
      width: 95%;
    }
  }
}

.contact-locations {
  width: 100%;
  padding-bottom: 4%;
  @include md {
    padding-left:60px;
    padding-right:0px;
  	padding-bottom: 16%;
  }
}

.location {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include md {
    flex-direction: column;
  }

  &--left {
    > div {
      width: 46%;
      @include md {
        width: 100%;
      }
    }
    .location__text {
    	width: 26%;
      order: 1;
      align-items: flex-end;
      text-align: right;
      @include md {
        order: 2;
        text-align: left;
        align-items: flex-start;
    	width: 100%;

      	&.emptyText{display:none!important}
      }
    }

    .location__image {
    	width: 66%;
      order: 2;
      @include md {
    	width: 100%;
        order: 1;
      }
    }

    @include lg {
      margin-top: 4%;
    }

    @include sm {
      margin-top: 10%;
    }

  }

  &--right {
    > div {
      width: 46%;
      @include md {
        width: 100%;
      }
    }

    .location__text {
      order: 2;
      align-items: flex-start;
      text-align: left;
    }

    .location__image {
      order: 1;
    }

    .location__name {
      margin-top: -50px;
      @include md {
        margin-top: 15px;
      }

      @include sm {
        width: 100%;
        margin-top: 8%;

        br {
          display: none;
        }
      }

    }

    @include lg {
      margin-bottom: 4%;
    }
    @include md {
      margin-bottom: 6%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    img {
      // display:block;
      width: 100%;
    }
  }

  &__name {
    font-family: $font-heading;
    font-size: 36px;
    line-height: 43px;
    font-weight: $normal;

    margin-bottom: 20px;
    width: 55%;

    @include lg {
      width: 60%;
      font-size: 30px;
      line-height: 40px;
    }

    @include sm {
      font-size: $font-size-project-title-sm;
      line-height: $line-height-project-title-sm;
      width: 100%;
    }

  }

  &__address {
    width: 50%;
    font-style: normal;
    margin-bottom: 20px;

    @include lg {
      width: 60%;
      font-size: 0.95rem;
    }
  }


}
