body.home {

	.clients {
	  margin-bottom:0px!important;
	}

	  .logo-static {
	    display: none;
	    @include md {
	      // display: block;
	    }
	  }

	  .logo-animated {
	    display: block !important;
	    @include md {
	      // display: none !important;
	    }
  }


  &.has-nav {
		.logo-animated {
		    display: none !important;
		}
	}

  // Page Header

  .page-header {
    &__subtitle {

      > a {
        display: flex;
        align-items: center;

        &:hover {
          strong {
            // display: inline-block;
            &:after {
              width: 100%;
            }
          }
        }

        .no-link{
        	strong {
		        &:after {
		        	width: 0px!important;
		        }
		    }
        }
      }

      .currently {
        padding-top: 5px;
        line-height: 1rem;

        @include md {
          line-height: 1.5rem;
        }
      }

      strong {
        margin-left: 0.3rem;
        position: relative;


        &:after {
          display: none;
          @include md {
            display: inline-block;
            content: '';
            border-bottom: solid 1px #0a3d5f;
            width: 100%;
            @include transition (width 250ms ease-in-out);
          }
        }


        @include md {
          display: table;
          margin-left: 0;
        }

        &:after {
          display: block;
          content: '';
          border-bottom: solid 1px $color-text;
          width: 0;
          position: absolute;
          left: 0;
          @include transition (width 250ms ease-in-out);

          @include sm {
            width: 0 !important;
          }

          @include sm-land {
            width: 0 !important;
          }
        }
      }
    }

    .icon-dash {
      width: 30px;
      height: 35px;
      margin-right: 1rem;
    }
  }

  // Bottom Block

  .bottom-block {
    &__wrapper {
      background-color: $color-pink;
    }

    &__content {

      @include md {
        padding-top: 0;
        padding-bottom: 0;
      }

      @include sm {
        padding-bottom: 0;
        margin-top: 14%;
      }
      >  img {

        @include md {
          top: -130px;
          left: 0;
        }

        @include sm {
          top: -116px;
          left: -10px;
          width: 100px;
        }

        @include sm-land {
          width: 100px;
          top: -100px;
        }

      }
    }

    &__text {
      margin-top: 2%;
      margin-bottom: 2%;
    }

    &__desc {
      @include sm {
        margin-top: 0;
      }

      a {
        @include sm {
          text-decoration: none !important;
        }
      }

    }

    &__image {
      object {
        @include md {
          right: 0;
          max-width: 190px;
          top: -130px;
          left: auto;
        }

        @include sm {
          max-width: 230px;
          width:40%;
          top: -130px;
        }

        @include sm-land {
          max-width: 160px;
          top: -130px;
        }
      }
      img {
        top: -125px;
      }
    }
  }

  .testimonials-block {

  	display:none;

    .bottom-block {
        &__wrapper {
            position: relative;
            background-color: $color-purple;
            padding-top: 4%;
            margin-left:0;

		    @include lg {
		      width: 100%;
		    }

		    @include md {
		      width: 100%;
		  	}

            @include sm {
                padding-bottom: 14%;
            }

            > img {
                position: absolute;
                width: 250px;
                left: 10%;
                top: 12%;
                z-index: 0;
                @include md {
                    left: -4%;
                    width: 235px;
                }
                @include sm {
                    width: 200px;
                    top: 4%;
                }
            }
        }
    }

    .bottom-block {
        &__content {
            background-color: transparent;

            > img {
                width: 170px;
                left: -50px;
                top: -40%;

            }
        }
    }
}

.testimonials {
    &__slider {
        position: relative;

        padding-left: 10%;
        padding-top: 4%;
        z-index: 1;

        @include md {
            padding-left: 0;
        }

        .slick-dots {
            position: relative;
            bottom: 0;
            margin-top: 50px;
            text-align: left;
            li {
                color: $color-red;
                &.slick-active {
                    color: $color-blue;
                }
                @include sm {
                    width: 25px !important;
                    a {
                        font-size: 13px;
                    }
                }

                &:hover {
                    color: $color-text;

                }
            }
        }
    }
    &__quote{
        font-family: $font-heading;
        font-size: 30px;
        line-height: 40px;
        font-weight: 400;
        text-align: left;

        padding-right: 6%;

        opacity: 0;

        transition: transform 1s cubic-bezier(.165,.84,.44,1),opacity 1s cubic-bezier(.165,.84,.44,1);
        transform: translateY(15px) translateZ(0);
        transition-delay: 0.5s;

        @include md {
            font-size: $font-size-testimonial-sm;
            line-height: $line-height-testimonial-sm;
            padding-right: 0;
        }

        @include sm {
            font-size: $font-size-testimonial-sm;
            line-height: $line-height-testimonial-sm;
        }

        @include sm-land {
            font-size: $font-size-testimonial-sm;
            line-height: $line-height-testimonial-sm;
          }


        &.animated, &.visible {
            opacity:1;
            transform: translateY(0) translateZ(0);

          }
    }
    &__credits {
        opacity: 0;
        transition: transform 1s cubic-bezier(.165,.84,.44,1),opacity 1s cubic-bezier(.165,.84,.44,1);
        transform: translateY(15px) translateZ(0);
        transition-delay: 0.75s;
        text-align:left;

        @include md {
          font-size: 0.95rem;
        }

        @include sm {
          font-size: 0.9rem;
          transition-delay: 0s;
        }

        &.animated, &.visible {
            opacity:1;
            transform: translateY(0) translateZ(0);

        }
    }
    &__name {
        font-family: $font-body-bold;
        display: block;

        @include md {
          font-size: 0.95rem;
        }

        @include sm {
          font-size: 0.9rem;
        }

    }

}


  // Footer

  footer {
    background-color: $color-pink;
  }

}

body.home {
  background-image: url('/wp-content/themes/t2m/assets/images/backgrounds/fondo_static.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: background-image 0.2s ease-out;
  transition: background-image 0.2s ease-out;

  -webkit-transition-property: background-image;
  transition-property: background-image;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

  @include xl {
    background-size: 120%;
  }

  @include md {
    background-image: url('/wp-content/themes/t2m//assets/images/backgrounds/home-mobile.svg');
    background-size: 101%;
  }

  @include sm {
    background-size: 105%;

  }

  &.animate {
    background-image: url('/wp-content/themes/t2m//assets/images/backgrounds/fondo_08.svg');
  }
}

