body.page-template-legal{
    background-image: url('/wp-content/themes/t2m/assets/images/backgrounds/legal.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 0%;
    background-attachment: unset;

    @include md {
      background-image: url('/wp-content/themes/t2m/assets/images/backgrounds/legal-mobile.svg');
    }

    .page-header {

      @include sm {
        margin-top:10px;
      }

      &__title {
        margin-top: 0;
      }
    }

    .nav__link {
      &:after {
        display: none;
      }
    }

  }

.legal-content {
    padding: 0 10% 10% 10%;

    @include md {
      padding-left: $padding-md;
      padding-right: $padding-md;
    }

    > p  {
      max-width: 85%;
      word-break: break-word;

        @include sm {
          width: 100%;
      		max-width: 100%;
        }
    }

   	> ul  {
      max-width: 85%;
        @include sm {
          width: 100%;
      		max-width: 100%;
        }

        li{
        	word-break: break-word;

        	  a {
			    	&:after {
			        	width:0;
			        }
			   	}
        }
    }

   	> table  {
      max-width: 85%;
        @include sm {
          width: 100%;
      		max-width: 100%;
        }
    }

    a {
        display: inline-block;
        // line-height: 1rem;
        @include sm {
          // line-height: 12px;
        }
        &:after {
          display: block;
          content: '';
          border-bottom: solid 1px #0a3d5f;
          width: 0;
          @include transition (width 250ms ease-in-out);

          @include sm {
            width: 100%;
          }
      }

      &:hover {

          &:after {
            width: 100%;
          }

      }
    }
}

.legal{

    &__heading {
        font-family: $font-heading;
        font-size: 36px;
        line-height: 43px;
        font-weight: $normal;

        @include md {
          font-size: 25px;
        }
    }

    &__desc {
        width: 85%;
        @include sm {
          width: 100%;
        }
    }

}

.table {
  &__cookies {
    border-spacing: 0;
    border: 1px solid $color-blue;

    margin-top: 40px;

    @include md {
      font-size: 0.9rem;
    }

    tr {
      &:first-of-type {
        td {
          border-bottom: 1px solid $color-blue;
        }
      }
    }

    td {
      border: none;
      padding: 10px 25px;
    }

    ul {
      padding-left: 0;
      margin-left: 15px;
    }
  }
}

.table__responsive__container{
	width:100%;
	display: block;
	max-width:100%;

        @include lg {
			overflow-x:scroll;
        }

}