body.no-route {
    background-image: url('/wp-content/themes/t2m/assets/images/backgrounds/legal.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 0%;
    background-attachment: unset;

    @include md {
      background-image: url('/wp-content/themes/t2m/assets/images/backgrounds/legal-mobile.svg');
    }

   

    main {
      padding-bottom: 149px;
    }
  
    .page-header {
      &__title {
        //margin-top: 0;
      }

      &__subheading {
        @include xl {
          width: 75%;
        }
        a {
          display: inline-block;
          &:after {
            display: block;
            content: '';
            border-bottom: solid 1px #0a3d5f;
            width: 0;
            @include transition (width 250ms ease-in-out);

            @include xl {
              width: 100%;
            }
          }

          &:hover {
            &:after {
              width: 100%;
              @include xl {
                width: 0;
              }
            }
          }
        }
      }
    }


  }

