body.services, body.servicios, body.serveis  {
    background-image: url('/wp-content/themes/t2m/assets/images/backgrounds/services.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -90px;
    background-attachment: unset;

    @include rwd-min(1400) {
      background-position-y: 11%;
    }
    
    @include rwd-max(1180){
      background-size: 120%;
    }

    @include lg {
      background-size: 130%;
    }

    @include md {
      background-size: 120%;
      background-image: url('/wp-content/themes/t2m/assets/images/backgrounds/services-tablet.svg');
    }

    @include sm {
      background-image: url('/wp-content/themes/t2m/assets/images/backgrounds/services-mobile.svg');
      background-size: 140%;
      background-position-y: 0px;
    }

     
    .page-header {
      margin-bottom: 6%;
      @include sm {
        margin-top: 10px;
      }
      &__title {
        margin-top: 0;
        padding-right: 18%;
        @include rwd-max(1180){
          font-size: $font-size-header-title-xl;
          line-height: $line-height-header-title-xl;
        }
        @include md {
          padding-right: 0;
        }

        @include sm {
          margin-top:10px;
        }

      }
    }

    .services-bottom {
      margin-top: 14%;
      @include md {
        margin-top: 25%;
      }
      @include sm {
        margin-top: 8%;
      }
      @include sm-land {
        margin-top: 5%;
      }

    }

    .bottom-block {
      &__wrapper {
        background-color: $color-purple;
        @include md {
          background-color: $color-pink;
        }
      }

      &__content {
        @include sm-land {
          padding-top: 0;
        }
      }

      &__desc {
        a {
          //text-decoration: none;
          span {
            display: inline-block;
            line-height: 1rem;
            &:after {
              display: block;
              content: '';
              border-bottom: solid 1px $color-text;
              width: 0;
              @include transition (width 250ms ease-in-out);
            }
           
          }
          &:hover {
            span {
              &:after {
                width: 100%;
              }
            }
          }
        }
      }

      &__image object {
        top: -30px;

        @include md {
          @include centerer;
          max-width: 170px;
          top: -80px;
        }

        @include sm {
          max-width: 100px;
          top: 20px;
          @include transform (translate(70%, -30%));
        }

        @include md {
          left: 75%;
          top: 105px;
        }

        @include sm {
          left: 45%;
          top: 45px;
        }

        @include sm-land {
          left: 80%;
          top: 80px;
        }

      }
      
    }

    @include sm {
      .image--absolute {
        position: relative;
        height: 1px;
        img {
          position: absolute;
          left: 0;
          width: 100%;
          margin-top: -40%;
          z-index: -1;
        }
      }
    }

    .footer {
      background-color: $color-purple;
    }

    #service-emails{
    	@include sm {
    		margin-top:50px;
    		margin-bottom:50px;
    		padding-top:25px;
    		padding-bottom:50px;
    		background-color:$color-pink;
    	}

    }

}

