body.sitemap, body.mapaweb, body.mapasitio {
    background-image: url('/wp-content/themes/t2m/assets/images/backgrounds/contact.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 0%;
    background-attachment: unset;

    @include sm {
      background-size: 187%;
    }
  
    .page-header {
      @include sm {
        margin-top:10px;
      }
      &__title {
        margin-top: 0;
      }
    }
  }

.sitemap-content {
    padding: 0 10% 10% 10%;

    @include md {
      padding-left: $padding-md;
      padding-right: $padding-md;
    }
}

.sitemap{
    &__heading {
        font-family: $font-heading;
        font-size: 36px;
        line-height: 43px;
        font-weight: $normal;

        @include md {
          font-size: 25px;
        }

        @include sm {
          font-size: 19px;
        }
    }
    &__desc {
        width: 85%;
    }

    &__link {
      display: inline-block;
      &:after {
        display: block;
        content: '';
        border-bottom: solid 1px #0a3d5f;
        width: 0;
        @include transition (width 250ms ease-in-out);

        @include sm-land {
          width: 0 !important;
        }

        
      }

      &:hover {
        &:after {
          width: 100%;
          @include sm {
            width: 0;
          }
        }
      }
    }
}

