body.team, body.equipo, body.equip {
  background-image: url('/wp-content/themes/t2m/assets/images/backgrounds/team.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 10%;
  background-attachment: unset;

  @include rwd-min(1400) {
    background-position-y: 16%;
    background-size: 100%;

  }

  @include rwd-min(1510) {
    background-position-y: 26%;
    background-size: 103%;

  }

  @include rwd-min(1620) {
    background-position-y: 28%;
    background-size: 100%;

  }

  @include rwd-max(1230) {
    background-position-y: 0;
    background-size: 110%;

  }

  @include lg {
    background-position-y: 0;
    background-size: 100%;
  }

  @include sm {
    background-size: 130%;

  }

  .page-header {
    @include sm {
      margin-top:10px;
    }
    &__title {
      margin-top: 0;
    }
    &__container {
      padding-right: 0;
    }
  }

  .bottom-block {

	&__heading {

	    @include xs {
	      max-width:180px;
	    }
	}

    &__wrapper {
      position: relative;
      z-index: 1;
      background-color: $color-purple;

      @include md {
        background-color: $color-pink !important;
      }

      @include sm {
        padding-top: 14%;
      }
    }

    &__content {
      padding-bottom: 8%;

      @include sm-land {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &__text {
      @include sm {
        margin-top: 45px;
        position: relative;
        z-index: 10;
      }
    }

    &__desc {
      width: 80%;
      margin:15px 0;
      @include lg {
        width: 100%;
      }
      @include md {
        width: 70%;
      }

      @include sm {
        width: 100%;
      }

      a {
        @include sm {
          text-decoration: none !important;
        }
      }
    }

    &__image {
      @include sm {
        position: relative;
        z-index: 5;
      }
      object {
        left: -20px;
        top: -25px;
        width: 100%;
        max-width: 300px;

        @include xl {
          max-width: 190px;
          left: -10px;
        }

        @include md {
          //display: none;
          max-width: 250px;
          left: auto;
          top: -70px;
          right: 0;
        }

        @include sm {
          max-width: 135px;
          left: auto;
          top: -30px;
          right: -10px;
        }

        @include sm-land {
          max-width: 180px;
          top: -10px;
        }

      }
    }
  }

  .background--absolute {
    @include lg {
      bottom: 30%;
    }

    @include sm {
      bottom: 40%;
    }
  }


  footer {
    background-color: $color-purple;
  }

  .bottom-20 {
    @include rwd-max(1253) {
      bottom: 0;
    }
    @include xl {
      bottom: 0;
    }
  }


}

.members {
  position: relative;
  display: flex;

  @include max-xxl {
    flex-wrap: wrap;
  }


  &--two {
    padding: 4% 12% 2%;
    justify-content:center;

    @include xl {
      padding: 4%;
    }

    @include lg {
      padding: 4% 6%;
    }

    @include sm {
      margin-bottom: 0;
      margin-top: 12%;
      padding-bottom: 2%;
    }

    .member {
      width: 40%;

      @include lg {
      	width: 50%;
      }

      @include sm {
        margin-bottom: 0;

        .member__role {
          text-align: center;
          padding: 10px 5px;
          min-height: 100px;
          line-height: 20px;
        }
      }

      &__separator {
        position: relative;
        @include lg {
          display: none;
        }
        // &:before {
        //   content: "";
        //   position: absolute;
        //   top: 25%;

        //   width: 1px;
        //   height: 50px;
        //   background-color: $color-blue;
        // }
        // &:after {
        //   content: "";
        //   position: absolute;
        //   left: -110px;
        //   top: 28%;

        //   width: 220px;
        //   height: 1px;
        //   background-color: $color-blue;

        // }

        &:last-of-type {
          display: none;
        }
      }
    }
  }

  &--four {
    padding: 6% 4% 0 4%;
    position: relative;

    // &:before {
    //   content: "";
    //   position: absolute;
    //   left: 50%;
    //   top: -1%;
    //   width: 69%;
    //   height: 1px;
    //   background-color: $color-purple;
    //   @include transform (translateX(-50%));

    //   @include xl {
    //     top: 4%;
    //   }

    //   @include lg {
    //     opacity: 0;
    //   }
    // }

    // &:after {
    //   content: "";
    //   position: absolute;
    //   left: 50%;
    //   top: -8%;
    //   width: 1px;
    //   height: 40px;
    //   background-color: $color-purple;
    //   @include transform (translateX(-50%));

    //   @include xl {
    //     top: -3%;
    //   }

    //   @include lg {
    //     opacity: 0;
    //   }

    // }
    .member {
      position: relative;
      width: 25%;

      @include lg {
        width: 50%;
        margin-bottom: 4%;
      }

      @include sm-land {
        width: 25%;
        margin-bottom: 2%;
      }

      // &:before {
      //   content: "";
      //   position: absolute;
      //   left: 50%;
      //   top: -31%;
      //   width: 1px;
      //   height: 45px;
      //   background-color: $color-purple;
      //   @include transform (translateX(-50%));

      //   @include xl {
      //     top: -60px;
      //   }

      //   @include lg {
      //     opacity: 0;
      //   }


      // }

    }
  }


  &--five {
    padding: 6% 4% 0 4%;
    position: relative;

    // &:before {
    //   content: "";
    //   position: absolute;
    //   left: 50%;
    //   top: -1%;
    //   width: 73.5%;
    //   height: 1px;
    //   background-color: $color-purple;
    //   @include transform (translateX(-50%));

    //   @include xl {
    //     top: 4%;
    //   }

    //   @include lg {
    //     opacity: 0;
    //   }
    // }

    // &:after {
    //   content: "";
    //   position: absolute;
    //   left: 50%;
    //   top: -8%;
    //   width: 1px;
    //   height: 40px;
    //   background-color: $color-purple;
    //   @include transform (translateX(-50%));

    //   @include xl {
    //     // top: -3%;
    //     opacity: 0;
    //   }

    //   @include lg {
    //   }

    // }
    .member {
      position: relative;
      width: 20%;

	  img{
	  	width:180px;
	  }

      @include xxl {
      	img{
	      	width:200px;
	      }
	  }
      @include xl {
      	img{
      		width:90%;
	      }
	  }

      @include lg {
        width: 50%;
        margin-bottom: 4%;
      	img{
      		width:75%;
	      }
      }

      @include sm-land {
        width: 20%;
        margin-bottom: 2%;

      	img{
      		width:90%;
	      }
      }

	  @include sm {
        img{
        	width: 90%;
        }
     }

      // &:before {
      //   content: "";
      //   position: absolute;
      //   left: 50%;
      //   top: -31%;
      //   width: 1px;
      //   height: 45px;
      //   background-color: $color-purple;
      //   @include transform (translateX(-50%));

      //   @include xl {
      //     top: -60px;
      //   }

      //   @include lg {
      //     opacity: 0;
      //   }


      // }

    }
  }


  &--six {
    padding: 3% 4% 0 4%;
    position: relative;

    // &:before {
    //   content: "";
    //   position: absolute;
    //   left: 50%;
    //   top: -1%;
    //   width: 73.5%;
    //   height: 1px;
    //   background-color: $color-purple;
    //   @include transform (translateX(-50%));

    //   @include xl {
    //     top: 4%;
    //   }

    //   @include lg {
    //     opacity: 0;
    //   }
    // }

    // &:after {
    //   content: "";
    //   position: absolute;
    //   left: 50%;
    //   top: -8%;
    //   width: 1px;
    //   height: 40px;
    //   background-color: $color-purple;
    //   @include transform (translateX(-50%));

    //   @include xl {
    //     // top: -3%;
    //     opacity: 0;
    //   }

    //   @include lg {
    //   }

    // }
    .member {
      position: relative;
      width: 16.66%;

	  img{
	  	width:180px;
	  }

      @include max-xxl {
      	width:33.33%;
      	img{
	      	width:260px;
	    }
      }

      @include xxl {
      	img{
	      	width:200px;
	      }
	  }
      @include xl {
      	img{
      		width:90%;
	      }
	  }

      @include lg {
        width: 50%;
        margin-bottom: 4%;
      	img{
      		width:75%;
	      }
      }

      @include sm-land {
        width: 16.66%;
        margin-bottom: 2%;

      	img{
      		width:90%;
	      }
      }

	  @include sm {
        img{
        	width: 90%;
        }
     }

      // &:before {
      //   content: "";
      //   position: absolute;
      //   left: 50%;
      //   top: -31%;
      //   width: 1px;
      //   height: 45px;
      //   background-color: $color-purple;
      //   @include transform (translateX(-50%));

      //   @include xl {
      //     top: -60px;
      //   }

      //   @include lg {
      //     opacity: 0;
      //   }


      // }

    }
  }

  &--three {
    padding: 6% 16.5% 0 16.5%;
    position: relative;
    margin-top:6%;

      @include xl {
        margin-top: 8%;
      }

      @include lg {
    	padding: 6% 4% 0 4%;
        margin-top: 0%;
      }

    // &:before {
    //   content: "";
    //   position: absolute;
    //   left: 50%;
    //   top: -1%;
    //   width: 48%;
    //   height: 1px;
    //   background-color: $color-purple;
    //   @include transform (translateX(-50%));

    //   @include xl {
    //     top: 4%;
    //   }

    //   @include lg {
    //     opacity: 0;
    //   }
    // }

    // &:after {
    //   content: "";
    //   position: absolute;
    //   left: 50%;
    //   top: -8%;
    //   width: 1px;
    //   height: 40px;
    //   background-color: $color-purple;
    //   @include transform (translateX(-50%));

    //   @include xl {
    //     top: -3%;
    //   }

    //   @include lg {
    //     opacity: 0;
    //   }

    // }
    .member {
      position: relative;
      width: 33.33%;

      @include lg {
        width: 50%;
        margin-bottom: 4%;
      }

      @include sm-land {
        width: 50%;
        margin-bottom: 2%;
      }

      // &:before {
      //   content: "";
      //   position: absolute;
      //   left: 50%;
      //   top: -31%;
      //   width: 1px;
      //   height: 45px;
      //   background-color: $color-purple;
      //   @include transform (translateX(-50%));

      //   @include xl {
      //     top: -60px;
      //   }

      //   @include lg {
      //     opacity: 0;
      //   }


      // }

    }
  }

  &--freelancers {
    display: block;
    padding-top: 0;
    padding-bottom: 0;

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }

    .members__wrapper {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 0;
      margin-top: 4%;
      padding-bottom: 4%;

      @include lg {
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
      }

      &--first {
        margin-top: 0;
        margin-bottom: 6%;
        @include xl {
          margin-top: 0;
        }
      }

      &:first-of-type {
        margin-bottom: 8%;
        margin-top: 0;

        @include lg {
          margin-bottom: 0;
          padding-bottom: 0;
        }

        &:after {
          content: "";
          position: absolute;
          left: 50%;
          top: -31%;
          width: 1px;
          height: 505px;
          background-color: $color-white;
          @include transform (translateX(-50%));

          @include lg {
            opacity: 0;
          }
        }
      }

      &:last-of-type {
        margin-bottom: 4%;
      }


      // &:before {
      //   content: "";
      //   position: absolute;
      //   left: 50%;
      //   top: -24%;
      //   width: 75%;
      //   height: 1px;
      //   background-color: $color-white;
      //   @include transform (translateX(-50%));

      //   @include xl {
      //     top: -13%;
      //   }

      //   @include lg {
      //     opacity: 0;
      //   }

      // }
    }

    .member {
      // &:before {
      //   background-color: $color-white;
      // }
    }

  }

}
 .member {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

	// @include smxs {
 //   		width: 100%!important;
	// }

   img {
     width: 200px;
     @include lg {
       width: 75%;
     }
     @include sm {
       width: 90%;
     }
   }

   &__name {
      font-family: $font-heading;
      font-size: 36px;
      line-height: 43px;
      font-weight: $normal;
      color: $color-blue;
      margin-bottom: 0;

      @include lg {
        font-size: $font-size-project-title-lg;
        line-height: $line-height-project-title-lg;
      }

      @include md {
        font-size: $font-size-project-title-md;
        line-height: $line-height-project-title-md;
      }

      @include sm {
        font-size: $font-size-project-title-sm;
        line-height: $line-height-project-title-sm;
      }

      @include sm-land {
        font-size: $font-size-project-title-sm;
        line-height: $line-height-project-title-sm;
      }
   }

   &__role {
    font-family: $font-body-regular;
    font-size: 1rem;
    font-weight: $normal;
    color: $color-blue;
    margin-top: 5px;
    @include md {
      font-size: 0.9rem;
    }
   }
 }

 .team-intro {
    width: 100%;
    flex: 0 0 100%;
    padding: 4% 10% 6% 10%;

    @include md {
      &.team-intro--first {
        background-image: url('/wp-content/themes/t2m/assets/images/backgrounds/dash-purple.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: top;
      }
    }

    @include sm {
      padding-top: 8%;
      margin-bottom: 4%;
      font-size: 0.95rem;
    }

    @include sm-land {
      padding-top: 4%;
    }

    &--left {
      width: 100%;
      margin-bottom: calc(6% + 20px);
      padding-right: 50%;

      @include lg {
        padding-right: 0;
        margin-bottom: 4%;
      }

      @include sm {
        margin-bottom: 14%;
      }

    }
    &--right {
      width: 100%;
      margin-top: 0;
      padding-left: 45%;

      @include lg {
        padding-left: 0;
        margin-top: 0;
      }

    }

    &--freelancers {
        padding-bottom: 1%;
        padding-top: 6%;
        margin-bottom: 0;
        margin-top: 0%;

        @include lg {
          margin-bottom: 10%;
        }

        @include sm-land {
          margin-bottom: 0;
        }



        .team-intro--left {
          padding-right: 45%;
          padding-bottom: 0%;
          @include xl {

          }
          @include lg {
            padding-right: 0;
          }
          @include sm {
            margin-bottom: 2%;
          }
        }
    }
 }

.team-bottom {
  position: relative;
}


/*** EN ***/

	body.team .bottom-block {
		&__heading {
		    @include xs {
		      max-width:100%!important;
		    }
		}
	}